new_workflow.json
{"id": "3Silaf5Sjtzt4NLk", "connections": {"CodeAgent1ValidarAfectado": {"main": [[{"index": 0, "node": "SwitchAfectadoOk", "type": "main"}]]}, "CodeAgent2ValidarJson": {"main": [[{"index": 0, "node": "SwitchOcrOk", "type": "main"}]]}, "CodeAgent35ValidateDriveUrl": {"main": [[{"index": 0, "node": "SwitchDriveOk", "type": "main"}]]}, "CodeAgent3FinalChecklist": {"main": [[{"index": 0, "node": "SwitchChecklistOk", "type": "main"}]]}, "GmailNotificacionCliente": {"main": [[{"index": 0, "node": "SheetsLogHistorial", "type": "main"}]]}, "GoogleDriveUploadZip": {"main": [[{"index": 0, "node": "CodeAgent35ValidateDriveUrl", "type": "main"}]]}, "GoogleSheetsAfectados": {"main": [[{"index": 0, "node": "CodeAgent1ValidarAfectado", "type": "main"}]]}, "CodeAgentMockOCR": {"main": [[{"index": 0, "node": "CodeAgent2ValidarJson", "type": "main"}]]}, "PdfFormsPrepararDatos": {"main": [[{"index": 0, "node": "CodeAgent3FinalChecklist", "type": "main"}]]}, "RespondToWebhookSuccess": {}, "SheetsLogHistorial": {"main": [[{"index": 0, "node": "GmailSuccessNotification", "type": "main"}]]}, "StopExecutionError": {}, "SwitchAfectadoOk": {"main": [[{"index": 0, "node": "CodeAgentMockOCR", "type": "main"}, {"node": "OpenAIExtraccionFactura", "type": "main", "index": 0}], [{"index": 0, "node": "GmailErrorAfectado", "type": "main"}]]}, "SwitchChecklistOk": {"main": [[{"node": "HTTP - Generar PDF", "type": "main", "index": 0}], [{"index": 0, "node": "GmailErrorChecklist", "type": "main"}]]}, "SwitchDriveOk": {"main": [[{"index": 0, "node": "GmailNotificacionCliente", "type": "main"}], [{"index": 0, "node": "GmailErrorDrive", "type": "main"}]]}, "SwitchOcrOk": {"main": [[{"index": 0, "node": "PdfFormsPrepararDatos", "type": "main"}], [{"index": 0, "node": "GmailErrorOcr", "type": "main"}]]}, "WebhookTrigger": {"main": [[{"index": 0, "node": "GoogleSheetsAfectados", "type": "main"}]]}, "ZipGenerator": {"main": [[{"index": 0, "node": "GoogleDriveUploadZip", "type": "main"}]]}, "OpenAIExtraccionFactura": {"main": [[{"node": "CodeAgent2ValidarJson", "type": "main", "index": 0}]]}, "HTTP - Generar PDF": {"main": [[{"node": "ZipGenerator", "type": "main", "index": 0}]]}, "GmailErrorAfectado": {"main": [[{"index": 0, "node": "StopExecutionError", "type": "main"}]]}, "GmailErrorOcr": {"main": [[{"index": 0, "node": "StopExecutionError", "type": "main"}]]}, "GmailErrorChecklist": {"main": [[{"index": 0, "node": "StopExecutionError", "type": "main"}]]}, "GmailErrorDrive": {"main": [[{"index": 0, "node": "StopExecutionError", "type": "main"}]]}, "GmailSuccessNotification": {"main": [[{"index": 0, "node": "RespondToWebhookSuccess", "type": "main"}]]}}, "nodes": [{"id": "node1", "name": "WebhookTrigger", "type": "n8n-nodes-base.webhook", "position": [240, 400], "disabled": false, "parameters": {}, "typeVersion": 1}, {"id": "node2", "name": "GoogleSheetsAfectados", "type": "n8n-nodes-base.googleSheets", "position": [464, 400], "disabled": false, "parameters": {}, "typeVersion": 1}, {"id": "node3", "name": "CodeAgent1ValidarAfectado", "type": "n8n-nodes-base.code", "position": [688, 400], "disabled": false, "parameters": {}, "typeVersion": 1}, {"id": "node4", "name": "SwitchAfectadoOk", "type": "n8n-nodes-base.if", "position": [912, 400], "disabled": false, "parameters": {}, "typeVersion": 1}, {"id": "node5", "name": "GmailErrorAfectado", "type": "n8n-nodes-base.gmail", "position": [1120, 240], "disabled": false, "parameters": {"sendTo": "pash.mx@gmail.com", "subject": "\u274c ERROR SGMM: Validaci\u00f3n Afectado", "emailType": "html", "message": "=<h3>\u274c ERROR: Validaci\u00f3n Afectado</h3><br><b>Nombre:</b> {{$json.nombre || 'N/A'}}<br><b>Email:</b> {{$json.email || 'N/A'}}<br><b>Error:</b> {{$json.error || 'Desconocido'}}<br><b>Timestamp:</b> {{$json.timestamp}}", "options": {}}, "typeVersion": 2.2, "credentials": {"gmailOAuth2": {"id": "05U7BNMvQzmmp5eE", "name": "Gmail account"}}}, {"id": "node6", "name": "StopExecutionError", "type": "n8n-nodes-base.respondToWebhook", "position": [1344, 240], "disabled": false, "parameters": {}, "typeVersion": 1}, {"id": "node7", "name": "CodeAgentMockOCR", "type": "n8n-nodes-base.code", "position": [1120, 560], "disabled": false, "parameters": {}, "typeVersion": 1}, {"id": "node8", "name": "CodeAgent2ValidarJson", "type": "n8n-nodes-base.code", "position": [1344, 560], "disabled": false, "parameters": {}, "typeVersion": 1}, {"id": "node9", "name": "SwitchOcrOk", "type": "n8n-nodes-base.if", "position": [1568, 560], "disabled": false, "parameters": {}, "typeVersion": 1}, {"id": "node10", "name": "GmailErrorOcr", "type": "n8n-nodes-base.gmail", "position": [1792, 400], "disabled": false, "parameters": {"sendTo": "pash.mx@gmail.com", "subject": "\u274c ERROR SGMM: Validaci\u00f3n OCR", "emailType": "html", "message": "=<h3>\u274c ERROR: Validaci\u00f3n OCR</h3><br><b>Afectado:</b> {{$json.afectado.nombre || 'N/A'}}<br><b>Archivo:</b> {{$json.fileName || 'N/A'}}<br><b>Error:</b> {{$json.error || 'OCR no detect\u00f3 informaci\u00f3n v\u00e1lida'}}<br><b>Timestamp:</b> {{$json.timestamp}}", "options": {}}, "typeVersion": 2.2, "credentials": {"gmailOAuth2": {"id": "05U7BNMvQzmmp5eE", "name": "Gmail account"}}}, {"id": "node11", "name": "PdfFormsPrepararDatos", "type": "n8n-nodes-base.code", "position": [1792, 720], "disabled": false, "parameters": {}, "typeVersion": 1}, {"id": "node12", "name": "CodeAgent3FinalChecklist", "type": "n8n-nodes-base.code", "position": [2000, 720], "disabled": false, "parameters": {}, "typeVersion": 1}, {"id": "node13", "name": "SwitchChecklistOk", "type": "n8n-nodes-base.if", "position": [2224, 720], "disabled": false, "parameters": {}, "typeVersion": 1}, {"id": "node14", "name": "GmailErrorChecklist", "type": "n8n-nodes-base.gmail", "position": [2448, 560], "disabled": false, "parameters": {"sendTo": "pash.mx@gmail.com", "subject": "\u274c ERROR SGMM: Checklist Final", "emailType": "html", "message": "=<h3>\u274c ERROR: Checklist Final</h3><br><b>Afectado:</b> {{$json.afectado.nombre || 'N/A'}}<br><b>Evento:</b> {{$json.evento || 'N/A'}}<br><b>Error:</b> {{$json.error || 'Checklist incompleto'}}<br><b>Timestamp:</b> {{$json.timestamp}}", "options": {}}, "typeVersion": 2.2, "credentials": {"gmailOAuth2": {"id": "05U7BNMvQzmmp5eE", "name": "Gmail account"}}}, {"id": "node15", "name": "ZipGenerator", "type": "n8n-nodes-base.compression", "position": [2448, 880], "disabled": false, "parameters": {}, "typeVersion": 1}, {"id": "node16", "name": "GoogleDriveUploadZip", "type": "n8n-nodes-base.googleDrive", "position": [2672, 880], "disabled": false, "parameters": {}, "typeVersion": 1}, {"id": "node17", "name": "CodeAgent35ValidateDriveUrl", "type": "n8n-nodes-base.code", "position": [2880, 880], "disabled": false, "parameters": {}, "typeVersion": 1}, {"id": "node18", "name": "SwitchDriveOk", "type": "n8n-nodes-base.if", "position": [3104, 880], "disabled": false, "parameters": {}, "typeVersion": 1}, {"id": "node19", "name": "GmailErrorDrive", "type": "n8n-nodes-base.gmail", "position": [3328, 720], "disabled": false, "parameters": {"sendTo": "pash.mx@gmail.com", "subject": "\u274c ERROR SGMM: Drive Upload", "emailType": "html", "message": "=<h3>\u274c ERROR: Drive Upload</h3><br><b>Afectado:</b> {{$json.afectado.nombre || 'N/A'}}<br><b>Archivo:</b> {{$json.zipName || 'N/A'}}<br><b>Error:</b> {{$json.error || 'No se pudo subir a Drive'}}<br><b>Timestamp:</b> {{$json.timestamp}}", "options": {}}, "typeVersion": 2.2, "credentials": {"gmailOAuth2": {"id": "05U7BNMvQzmmp5eE", "name": "Gmail account"}}}, {"id": "node20", "name": "GmailNotificacionCliente", "type": "n8n-nodes-base.gmail", "position": [3328, 1040], "disabled": false, "parameters": {"emailType": "html", "message": "=<b>\u2705 SGMM {{$json.evento.toUpperCase()}} - Documentos Listos</b><br><br>Hola {{$json.afectado.nombre}},<br><br>Tu expediente de {{$json.evento}} ha sido procesado exitosamente por SGMM Automation.<br><br>A continuaci\u00f3n los detalles extra\u00eddos de tu factura:<br>\ud83c\udfe5 <b>Proveedor:</b> {{$json.ocr_data.proveedor}}<br>\ud83d\udcb0 <b>Monto Total:</b> ${{$json.ocr_data.montoNumerico.toLocaleString('es-MX')}} MXN<br><br>Todos los documentos y el formato oficial en PDF han sido consolidados en un archivo ZIP, el cual ya se encuentra alojado de forma segura en tu carpeta de Google Drive.<br><br>\ud83d\udcc2 <a href=\"{{$json.drive.webViewLink}}\">Ver el expediente completo en Google Drive</a><br><br>\ud83d\udce5 <a href=\"{{$json.drive.downloadLink}}\">Descargar el expediente ZIP directamente</a><br><br>Si necesitas realizar alguna aclaraci\u00f3n o cambio sobre esta reclamaci\u00f3n, por favor responde a este correo o contacta a tu agente usando tu n\u00famero de p\u00f3liza: <b>{{$json.afectado.poliza}}</b><br><br>Atentamente,<br><i>El Equipo de Automatizaci\u00f3n SGMM</i>"}, "typeVersion": 1}, {"id": "node21", "name": "SheetsLogHistorial", "type": "n8n-nodes-base.googleSheets", "position": [3552, 1040], "disabled": false, "parameters": {}, "typeVersion": 1}, {"id": "node22", "name": "GmailSuccessNotification", "type": "n8n-nodes-base.gmail", "position": [3760, 1040], "disabled": false, "parameters": {"sendTo": "pash.mx@gmail.com", "subject": "=\u2705 SGMM {{$json.evento.toUpperCase()}} - COMPLETADO", "emailType": "html", "message": "=<h3>\u2705 SGMM {{$json.evento.toUpperCase()}} - COMPLETADO</h3><br><b>Afectado:</b> {{$json.afectado.nombre}}<br><b>Email:</b> {{$json.afectado.email}}<br><b>Proveedor:</b> {{$json.ocr_data.proveedor}}<br><b>Monto:</b> ${{$json.ocr_data.montoNumerico.toLocaleString('es-MX')}} MXN<br><b>Confidence:</b> {{$json.validaciones.confidence}}<br><br><a href=\"{{$json.drive.webViewLink}}\">\ud83d\udcc2 Ver en Drive</a><br><a href=\"{{$json.drive.downloadLink}}\">\ud83d\udce5 Descargar ZIP</a><br><br><b>Timestamp:</b> {{$json.timestamp}}", "options": {}}, "typeVersion": 2.2, "credentials": {"gmailOAuth2": {"id": "05U7BNMvQzmmp5eE", "name": "Gmail account"}}}, {"id": "node23", "name": "RespondToWebhookSuccess", "type": "n8n-nodes-base.respondToWebhook", "position": [3984, 1040], "disabled": false, "parameters": {}, "typeVersion": 1}, {"id": "node-openai-1", "name": "OpenAIExtraccionFactura", "type": "n8n-nodes-base.openAi", "position": [1120, 720], "disabled": true, "parameters": {}, "typeVersion": 1}, {"id": "node-pdf-gen", "name": "HTTP - Generar PDF", "type": "n8n-nodes-base.httpRequest", "position": [2320, 720], "disabled": false, "parameters": {}, "typeVersion": 1}]}