payload.json
{"nodes": [{"parameters": {"httpMethod": "POST", "path": "45ffc752-0b81-4a16-947b-661f354d63ba", "options": {}}, "id": "node1", "name": "WebhookTrigger", "position": [240, 416], "type": "n8n-nodes-base.webhook", "typeVersion": 2.1, "webhookId": "ae284c21-41b5-4c35-8378-85e1422b35de"}, {"parameters": {"documentId": {"__rl": true, "mode": "id", "value": "1aHust80ArTzLxr_n1s9XSFdTvNopCYRmvoU75MJmsHA"}, "sheetName": {"__rl": true, "mode": "name", "value": "Asegurados"}, "operation": "read", "resource": "sheet", "range": "A:Z", "options": {}}, "id": "node2", "name": "GoogleSheetsAfectados", "position": [464, 416], "type": "n8n-nodes-base.googleSheets", "typeVersion": 4.7, "credentials": {"googleSheetsOAuth2Api": {"id": "q3dwRw3CpAZKZxM1", "name": "Google Sheets account"}}}, {"parameters": {"jsCode": "const items = $input.all();\nreturn items.map(item => {\n    // Soporta 'id' o 'Variables' (el encabezado en la imagen del usuario)\n    const encontrado = (item.json.id !== undefined) || (item.json.Variables !== undefined);\n    return {\n        json: {\n            ...item.json,\n            validaciones: {\n                afectadoValidado: encontrado,\n                timestamp: new Date().toISOString()\n            }\n        },\n        binary: item.binary\n    };\n});"}, "id": "node3", "name": "CodeAgent1ValidarAfectado", "position": [688, 416], "type": "n8n-nodes-base.code", "typeVersion": 2}, {"parameters": {"conditions": {"combinator": "and", "conditions": [{"id": "condition_1", "leftValue": "={{$json.validaciones.afectadoValidado}}", "operator": {"operation": "true", "singleValue": true, "type": "boolean"}}], "options": {"version": 2, "leftValue": "", "caseSensitive": true, "typeValidation": "strict", "type": "string"}}, "options": {}}, "id": "node4", "name": "SwitchAfectadoOk", "position": [912, 416], "type": "n8n-nodes-base.if", "typeVersion": 2.3, "onError": "continueErrorOutput"}, {"parameters": {"sendTo": "pash.mx@gmail.com", "subject": "\u274c ERROR SGMM: Validaci\u00f3n Afectado", "message": "=<h3>\u274c ERROR: Validaci\u00f3n Afectado</h3><br><b>Nombre:</b> {{$json.nombre || 'N/A'}}<br><b>Email:</b> {{$json.email || 'N/A'}}<br><b>Error:</b> {{$json.error || 'Afectado no encontrado en la base de datos'}}<br><b>Timestamp:</b> {{$json.timestamp}}", "operation": "send", "resource": "message"}, "id": "node5", "name": "GmailErrorAfectado", "position": [3600, 240], "type": "n8n-nodes-base.gmail", "typeVersion": 2.2, "webhookId": "821ac906-878a-48a7-a1d1-621b36fc5310", "credentials": {"gmailOAuth2": {"id": "z7Kwj4yb0xDNh40G", "name": "Gmail account"}}}, {"parameters": {"options": {}}, "id": "node6", "name": "StopExecutionError", "position": [3824, 528], "type": "n8n-nodes-base.respondToWebhook", "typeVersion": 1.5}, {"parameters": {"jsCode": "const items = $input.all();\nreturn items.map(item => {\n    return {\n        json: {\n            ...item.json,\n            ocr_data: {\n                proveedor: \"Farmacia Guadalajara\",\n                monto: \"1,250.00\",\n                fecha: \"2024-03-10\",\n                montoNumerico: 1250,\n                confidence: 0.98\n            }\n        },\n        binary: item.binary\n    };\n});"}, "id": "node7", "name": "CodeAgentMockOCR", "position": [1136, 416], "type": "n8n-nodes-base.code", "typeVersion": 2}, {"parameters": {"jsCode": "const items = $input.all();\nreturn items.map(item => {\n    const ocr = item.json.ocr_data;\n    const isValid = ocr && ocr.montoNumerico > 0;\n    \n    return {\n        json: {\n            ...item.json,\n            validaciones: {\n                ...item.json.validaciones,\n                ocrValido: isValid\n            }\n        },\n        binary: item.binary\n    };\n});"}, "id": "node8", "name": "CodeAgent2ValidarJson", "position": [1360, 720], "type": "n8n-nodes-base.code", "typeVersion": 2}, {"parameters": {"conditions": {"combinator": "and", "conditions": [{"id": "condition_ocr_ok", "leftValue": "={{$json.validaciones.ocrValido}}", "operator": {"operation": "true", "singleValue": true, "type": "boolean"}}], "options": {"version": 2, "leftValue": "", "caseSensitive": true, "typeValidation": "strict", "type": "string"}}, "options": {}}, "id": "node9", "name": "SwitchOcrOk", "position": [1584, 720], "type": "n8n-nodes-base.if", "typeVersion": 2.3, "onError": "continueErrorOutput"}, {"parameters": {"sendTo": "pash.mx@gmail.com", "subject": "\u274c ERROR SGMM: Validaci\u00f3n OCR", "message": "=<h3>\u274c ERROR: Validaci\u00f3n OCR</h3><br><b>Afectado:</b> {{ $json.afectado ? $json.afectado.nombre : 'N/A' }}<br><b>Archivo:</b> {{$json.fileName || 'N/A'}}<br><b>Error:</b> {{$json.error || 'OCR no detect\u00f3 informaci\u00f3n v\u00e1lida'}}<br><b>Timestamp:</b> {{$json.timestamp}}", "operation": "send", "resource": "message"}, "id": "node10", "name": "GmailErrorOcr", "position": [3600, 432], "type": "n8n-nodes-base.gmail", "typeVersion": 2.2, "webhookId": "53848a00-9105-44f6-b4ad-87684982a626", "credentials": {"gmailOAuth2": {"id": "z7Kwj4yb0xDNh40G", "name": "Gmail account"}}}, {"parameters": {"jsCode": "const items = $input.all();\nreturn items.map(item => {\n    return {\n        json: {\n            ...item.json,\n            pdf_metadata: {\n                nombreArchivo: `Reclamacion_${(item.json.afectado && item.json.afectado.nombre ? item.json.afectado.nombre.replace(/\\s+/g, '_') : 'SinNombre')}.pdf`,\n                fechaGeneracion: new Date().toISOString()\n            }\n        },\n        binary: item.binary\n    };\n});"}, "id": "node11", "name": "PdfFormsPrepararDatos", "position": [1808, 816], "type": "n8n-nodes-base.code", "typeVersion": 2}, {"parameters": {"jsCode": "const items = $input.all();\nreturn items.map(item => {\n    const hasDocuments = item.binary && Object.keys(item.binary).length > 0;\n    \n    return {\n        json: {\n            ...item.json,\n            checklist_final: {\n                completado: hasDocuments,\n                total_archivos: hasDocuments ? Object.keys(item.binary).length : 0\n            }\n        },\n        binary: item.binary\n    };\n});"}, "id": "node12", "name": "CodeAgent3FinalChecklist", "position": [2032, 816], "type": "n8n-nodes-base.code", "typeVersion": 2}, {"parameters": {"conditions": {"combinator": "and", "conditions": [{"id": "condition_checklist_ok", "leftValue": "={{$json.checklist_final.completado}}", "operator": {"operation": "true", "singleValue": true, "type": "boolean"}}], "options": {"version": 2, "leftValue": "", "caseSensitive": true, "typeValidation": "strict", "type": "string"}}, "options": {}}, "id": "node13", "name": "SwitchChecklistOk", "position": [2256, 816], "type": "n8n-nodes-base.if", "typeVersion": 2.3, "onError": "continueErrorOutput"}, {"parameters": {"sendTo": "pash.mx@gmail.com", "subject": "\u274c ERROR SGMM: Checklist Final", "message": "=<h3>\u274c ERROR: Checklist Final</h3><br><b>Afectado:</b> {{ $json.afectado ? $json.afectado.nombre : 'N/A' }}<br><b>Evento:</b> {{$json.evento || 'N/A'}}<br><b>Error:</b> {{$json.error || 'Checklist incompleto (sin archivos)'}}<br><b>Timestamp:</b> {{$json.timestamp}}", "operation": "send", "resource": "message"}, "id": "node14", "name": "GmailErrorChecklist", "position": [3600, 624], "type": "n8n-nodes-base.gmail", "typeVersion": 2.2, "webhookId": "920120d1-f3de-49fb-861f-b25310722c04", "credentials": {"gmailOAuth2": {"id": "z7Kwj4yb0xDNh40G", "name": "Gmail account"}}}, {"parameters": {"mode": "combine", "options": {}}, "id": "MergeAllAttachments", "name": "MergeAllAttachments", "position": [2704, 912], "type": "n8n-nodes-base.merge", "typeVersion": 3.2}, {"parameters": {"outputFormat": "zip"}, "id": "node15", "name": "ZipGenerator", "position": [2928, 912], "type": "n8n-nodes-base.compression", "typeVersion": 1.1}, {"parameters": {"driveId": {"__rl": true, "mode": "list", "value": "My Drive"}, "folderId": {"__rl": true, "mode": "id", "value": "={{$node[\"GoogleSheetsAfectados\"].json.carpeta_drive_id}}"}, "operation": "upload", "resource": "file", "options": {}}, "id": "node16", "name": "GoogleDriveUploadZip", "position": [3152, 912], "type": "n8n-nodes-base.googleDrive", "typeVersion": 3, "credentials": {"googleDriveOAuth2Api": {"id": "24IRatZIq46ZB5Ps", "name": "Google Drive account"}}}, {"parameters": {"jsCode": "const items = $input.all();\nreturn items.map(item => {\n    return {\n        json: {\n            ...item.json,\n            drive: {\n                id: item.json.id,\n                webViewLink: item.json.webViewLink,\n                downloadLink: item.json.webContentLink\n            }\n        },\n        binary: item.binary\n    };\n});"}, "id": "node17", "name": "CodeAgent35ValidateDriveUrl", "position": [3360, 912], "type": "n8n-nodes-base.code", "typeVersion": 2}, {"parameters": {"conditions": {"combinator": "and", "conditions": [{"id": "condition_drive_ok", "leftValue": "={{$json.drive.webViewLink}}", "operator": {"operation": "isNotEmpty", "singleValue": true, "type": "string"}}], "options": {"version": 2, "leftValue": "", "caseSensitive": true, "typeValidation": "strict", "type": "string"}}, "options": {}}, "id": "node18", "name": "SwitchDriveOk", "position": [3584, 912], "type": "n8n-nodes-base.if", "typeVersion": 2.3, "onError": "continueErrorOutput"}, {"parameters": {"sendTo": "pash.mx@gmail.com", "subject": "\u274c ERROR SGMM: Drive Upload", "message": "=<h3>\u274c ERROR: Drive Upload</h3><br><b>Afectado:</b> {{ $json.afectado ? $json.afectado.nombre : 'N/A' }}<br><b>Archivo:</b> {{$json.zipName || 'N/A'}}<br><b>Error:</b> {{$json.error || 'No se pudo subir a Drive'}}<br><b>Timestamp:</b> {{$json.timestamp}}", "operation": "send", "resource": "message"}, "id": "node19", "name": "GmailErrorDrive", "position": [3808, 816], "type": "n8n-nodes-base.gmail", "typeVersion": 2.2, "webhookId": "49745845-7d68-4923-9d80-94780e84616a", "credentials": {"gmailOAuth2": {"id": "z7Kwj4yb0xDNh40G", "name": "Gmail account"}}}, {"parameters": {"columns": {"mappingMode": "defineBelow", "value": {"Afectado": "={{ $json.afectado.nombre || $json.Variables }}", "Confidence": "={{ $json.validaciones.confidence }}", "Drive_Link": "={{ $json.drive.webViewLink }}", "Email": "={{ $json.afectado.email }}", "Evento": "={{ $json.evento }}", "Monto": "={{ $json.ocr_data.montoNumerico }}", "Poliza": "={{ $json.afectado.poliza }}", "Proveedor": "={{ $json.ocr_data.proveedor }}", "Status": "COMPLETADO", "Timestamp": "={{ $json.timestamp }}"}}, "documentId": {"__rl": true, "mode": "id", "value": "1aHust80ArTzLxr_n1s9XSFdTvNopCYRmvoU75MJmsHA"}, "operation": "append", "options": {}, "resource": "sheet", "sheetName": {"__rl": true, "mode": "name", "value": "Historial"}}, "id": "node21", "name": "SheetsLogHistorial", "position": [3808, 1008], "type": "n8n-nodes-base.googleSheets", "typeVersion": 4.7, "credentials": {"googleSheetsOAuth2Api": {"id": "q3dwRw3CpAZKZxM1", "name": "Google Sheets account"}}}, {"parameters": {"sendTo": "pash.mx@gmail.com", "subject": "=\u2705 SGMM {{($json.evento ? $json.evento.toUpperCase() : 'EVENTO')}} - COMPLETADO", "message": "=<h3>\u2705 SGMM {{($json.evento ? $json.evento.toUpperCase() : 'EVENTO')}} - COMPLETADO</h3><br><b>Afectado:</b> {{ $json.afectado ? $json.afectado.nombre : 'N/A' }}<br><b>Email:</b> {{ $json.afectado ? $json.afectado.email : 'N/A' }}<br><b>Proveedor:</b> {{ $json.ocr_data ? $json.ocr_data.proveedor : 'N/A' }}<br><b>Monto:</b> ${{ $json.ocr_data ? $json.ocr_data.montoNumerico.toLocaleString('es-MX') : 0 }} MXN<br><br><a href=\"{{$json.drive ? $json.drive.webViewLink : '#'}}\">\ud83d\udcc2 Ver en Drive</a><br><br><b>Timestamp:</b> {{$json.timestamp}}", "operation": "send", "resource": "message"}, "id": "node22", "name": "GmailSuccessNotification", "position": [4032, 1008], "type": "n8n-nodes-base.gmail", "typeVersion": 2.2, "webhookId": "73d6ffa4-4f58-408b-b1eb-5955b06d35ee", "credentials": {"gmailOAuth2": {"id": "z7Kwj4yb0xDNh40G", "name": "Gmail account"}}}, {"parameters": {"options": {}}, "id": "node23", "name": "RespondToWebhookSuccess", "position": [4240, 1008], "type": "n8n-nodes-base.respondToWebhook", "typeVersion": 1.5}, {"parameters": {"url": "https://script.google.com/macros/s/AKfycbzaZIhjh6jszDDb3wl4rvfcPv-houyl44ZfAe-HMrcZZ3VgiOTcbxWBTOH7UBiGsiVNMw/exec", "options": {}}, "id": "node-pdf-gen", "name": "HTTP - Generar PDF", "position": [2480, 912], "type": "n8n-nodes-base.httpRequest", "typeVersion": 4.4}, {"parameters": {"jsCode": "const item = $input.item.json;\nconst evento = (item.evento || 'reembolso').toLowerCase();\n\nlet subject = '';\nconst fecha = new Date().toLocaleDateString('es-MX');\n\nconst templateReembolso = `<h3>Solicitud de Reembolso</h3><p>Se adjunta expediente completo.</p>`; \nconst templateMedicamentos = `<h3>Solicitud de Medicamentos</h3><p>Se adjunta expediente completo.</p>`;\n\nlet html = evento.includes('reembolso') ? templateReembolso : templateMedicamentos;\nsubject = (evento.includes('reembolso') ? '\ud83c\udfdb\ufe0f METLIFE: Solicitud de Reembolso - ' : '\ud83c\udfdb\ufe0f METLIFE: Solicitud de Medicamentos/Carta Pase - ') + (item.afectado && item.afectado.nombre ? item.afectado.nombre : 'Gesti\u00f3n SGMM');\n\nreturn [{\n    json: {\n        ...item,\n        metlife_subject: subject,\n        metlife_html: html\n    },\n    binary: $input.item.binary\n}];"}, "id": "67dec9fa-8b1a-4b28-92d4-4aa7c781d22a", "name": "PrepareMetlifeEmail", "position": [3600, 1008], "type": "n8n-nodes-base.code", "typeVersion": 2}, {"parameters": {"operation": "send", "resource": "message"}, "id": "8dd80ef6-f784-4dcc-848a-b764bd3cb291", "name": "GmailNotificacionMetlife", "position": [3824, 1200], "type": "n8n-nodes-base.gmail", "typeVersion": 2.2, "webhookId": "cfe1c81f-7379-4250-8b17-8b67f2466632", "credentials": {"gmailOAuth2": {"id": "z7Kwj4yb0xDNh40G", "name": "Gmail account"}}}, {"parameters": {"jsCode": "const item = $input.item.json;\nconst binaryData = {};\n\nif (item.documentoBase64) {\n    binaryData['form_generado'] = {\n        data: item.documentoBase64,\n        fileName: (item.metadata && item.metadata.nombreArchivoGenerado ? item.metadata.nombreArchivoGenerado : 'Formato-GMM') + '.pdf',\n        mimeType: 'application/pdf'\n    };\n}\n\nif (item.archivosManuales && Array.isArray(item.archivosManuales)) {\n    item.archivosManuales.forEach((file, index) => {\n        binaryData[`attach_${index}`] = {\n            data: file.base64,\n            fileName: file.name,\n            mimeType: file.type || 'application/octet-stream'\n        };\n    });\n}\n\nreturn {\n    json: item,\n    binary: binaryData\n};"}, "id": "cec93a60-e6f9-44b6-afe6-2ccd74327414", "name": "DecodeAttachments", "position": [352, 256], "type": "n8n-nodes-base.code", "typeVersion": 2}], "connections": {"CodeAgent1ValidarAfectado": {"main": [[{"index": 0, "node": "SwitchAfectadoOk", "type": "main"}]]}, "CodeAgent2ValidarJson": {"main": [[{"index": 0, "node": "SwitchOcrOk", "type": "main"}]]}, "CodeAgent35ValidateDriveUrl": {"main": [[{"index": 0, "node": "SwitchDriveOk", "type": "main"}]]}, "CodeAgent3FinalChecklist": {"main": [[{"index": 0, "node": "SwitchChecklistOk", "type": "main"}]]}, "CodeAgentMockOCR": {"main": [[{"index": 0, "node": "CodeAgent2ValidarJson", "type": "main"}]]}, "DecodeAttachments": {"main": [[{"index": 0, "node": "GoogleSheetsAfectados", "type": "main"}, {"index": 0, "node": "MergeAllAttachments", "type": "main"}]]}, "GmailErrorAfectado": {"main": [[{"index": 0, "node": "StopExecutionError", "type": "main"}]]}, "GmailErrorChecklist": {"main": [[{"index": 0, "node": "StopExecutionError", "type": "main"}]]}, "GmailErrorDrive": {"main": [[{"index": 0, "node": "StopExecutionError", "type": "main"}]]}, "GmailErrorOcr": {"main": [[{"index": 0, "node": "StopExecutionError", "type": "main"}]]}, "GmailNotificacionMetlife": {"main": []}, "GmailSuccessNotification": {"main": [[{"index": 0, "node": "RespondToWebhookSuccess", "type": "main"}]]}, "GoogleDriveUploadZip": {"main": [[{"index": 0, "node": "CodeAgent35ValidateDriveUrl", "type": "main"}]]}, "GoogleSheetsAfectados": {"main": [[{"index": 0, "node": "CodeAgent1ValidarAfectado", "type": "main"}]]}, "HTTP - Generar PDF": {"main": [[{"index": 0, "node": "MergeAllAttachments", "type": "main"}]]}, "MergeAllAttachments": {"main": [[{"index": 0, "node": "ZipGenerator", "type": "main"}]]}, "PdfFormsPrepararDatos": {"main": [[{"index": 0, "node": "CodeAgent3FinalChecklist", "type": "main"}]]}, "PrepareMetlifeEmail": {"main": [[{"index": 0, "node": "GmailNotificacionMetlife", "type": "main"}]]}, "SheetsLogHistorial": {"main": [[{"index": 0, "node": "GmailSuccessNotification", "type": "main"}]]}, "SwitchAfectadoOk": {"main": [[{"index": 0, "node": "CodeAgentMockOCR", "type": "main"}], [{"index": 0, "node": "GmailErrorAfectado", "type": "main"}]]}, "SwitchChecklistOk": {"main": [[{"index": 0, "node": "HTTP - Generar PDF", "type": "main"}], [{"index": 0, "node": "GmailErrorChecklist", "type": "main"}]]}, "SwitchDriveOk": {"main": [[{"index": 0, "node": "SheetsLogHistorial", "type": "main"}, {"index": 0, "node": "PrepareMetlifeEmail", "type": "main"}], [{"index": 0, "node": "GmailErrorDrive", "type": "main"}]]}, "SwitchOcrOk": {"main": [[{"index": 0, "node": "PdfFormsPrepararDatos", "type": "main"}], [{"index": 0, "node": "GmailErrorOcr", "type": "main"}]]}, "WebhookTrigger": {"main": [[{"index": 0, "node": "DecodeAttachments", "type": "main"}]]}, "ZipGenerator": {"main": [[{"index": 0, "node": "GoogleDriveUploadZip", "type": "main"}]]}}}
