temp.json
{
  "id": "tITudE515uCM3Y09",
  "name": "GMM_Automation_Processor",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "gmm-processor",
        "options": {}
      },
      "name": "Webhook NextJS",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        -160,
        -32
      ],
      "webhookId": "gmm-webhook-endpoint",
      "id": "89615ce5-fbbe-4cc8-b218-df2de2a294cf"
    },
    {
      "parameters": {
        "binaryData": true,
        "name": "={{ $('Webhook NextJS').item.json.body.metadata.nombreArchivoGenerado }}.pdf",
        "parents": [
          "={{ $('Set Evento ID').item.json.eventoFolderId }}"
        ],
        "options": {}
      },
      "name": "Google Drive (Subir Expediente)",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 2,
      "position": [
        2400,
        300
      ],
      "id": "faf9372c-9d86-435d-ade3-5adaca8f4265",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "UH7p6DZsG70hDeHn",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "toBinary",
        "sourceProperty": "body.documentoBase64",
        "options": {
          "fileName": "={{ $json.body.metadata.idSiniestro }}_Expediente.pdf",
          "mimeType": "=application/pdf",
          "encoding": "base64",
          "dataIsBase64": true
        }
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        64,
        -32
      ],
      "id": "8cf66f2e-f4b8-4c4e-aaae-fcbdaf92a1a1",
      "name": "Convert to File"
    },
    {
      "parameters": {
        "sendTo": "={{ $('Webhook NextJS').item.json.body.metadata.emailAsegurado }}",
        "subject": "=Expediente Procesado: {{ $('Webhook NextJS').item.json.body.metadata.siniestroId }}\n",
        "message": "=¡Hola {{ $('Webhook NextJS').item.json.body.metadata.nombreAsegurado }}! Tu documento de Gastos Médicos Mayores ha sido ingresado exitosamente al servidor central y enviado a Drive. Quedamos a tus órdenes. Atentamente: El equipo de PASH.\n",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        464,
        -32
      ],
      "id": "c888d681-8537-488a-9b36-be7475e27f63",
      "name": "Send a message",
      "webhookId": "cf4342d9-cf53-4073-b841-ec7caff693b9",
      "credentials": {
        "gmailOAuth2": {
          "id": "05U7BNMvQzmmp5eE",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "operation": "search",
        "resource": "fileFolder",
        "options": {
          "q": "name = '{{ $('Webhook NextJS').item.json.body.metadata.nombreCarpetaAsegurado }}' and '{{ $('Webhook NextJS').item.json.body.metadata.googleDriveFolderId }}' in parents and mimeType = 'application/vnd.google-apps.folder' and trashed = false"
        }
      },
      "id": "e7e23bc0-28f5-4846-8f08-9db52a077ec3",
      "name": "Search Asegurado Folder",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        400,
        300
      ],
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "J1xI71DccSStfPee",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "number": [
            {
              "value1": "={{ $json.length || Object.keys($json).length }}",
              "operation": "equal",
              "value2": 0
            }
          ],
          "boolean": []
        }
      },
      "id": "38f39921-1b80-4fc3-b4f4-fc3aed895c04",
      "name": "IF Asegurado Exists",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        600,
        300
      ]
    },
    {
      "parameters": {
        "operation": "create",
        "resource": "folder",
        "name": "={{ $('Webhook NextJS').item.json.body.metadata.nombreCarpetaAsegurado }}",
        "driveId": {
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "mode": "id",
          "value": "={{ $('Webhook NextJS').item.json.body.metadata.googleDriveFolderId }}"
        },
        "options": {}
      },
      "id": "4f4b9048-4de8-4c97-a845-c760a0c203e4",
      "name": "Create Asegurado Folder",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        800,
        200
      ],
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "J1xI71DccSStfPee",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "mode": "passThrough",
        "aggregate": "aggregateAllItemData"
      },
      "id": "aa9ae125-0c47-4595-accf-a0c78a736e9b",
      "name": "Merge Asegurado ID",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 2,
      "position": [
        1000,
        300
      ]
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "string": [
            {
              "name": "aseguradoFolderId",
              "value": "={{ $json.id ? $json.id : $('IF Asegurado Exists').item.json[0].id }}"
            }
          ]
        },
        "options": {}
      },
      "id": "e746e139-6027-409e-8e88-7a02f5158c23",
      "name": "Set Asegurado ID",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [
        1200,
        300
      ]
    },
    {
      "parameters": {
        "operation": "search",
        "resource": "fileFolder",
        "options": {
          "q": "name = '{{ $('Webhook NextJS').item.json.body.metadata.nombreCarpetaEvento }}' and '{{ $json.aseguradoFolderId }}' in parents and mimeType = 'application/vnd.google-apps.folder' and trashed = false"
        }
      },
      "id": "55163d07-c57f-42a9-8470-4b451aec88fb",
      "name": "Search Evento Folder",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        1400,
        300
      ],
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "J1xI71DccSStfPee",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "number": [
            {
              "value1": "={{ $json.length || Object.keys($json).length }}",
              "operation": "equal",
              "value2": 0
            }
          ]
        }
      },
      "id": "f1fd8dc2-f8b5-49f1-970b-fd88b7699304",
      "name": "IF Evento Exists",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        1600,
        300
      ]
    },
    {
      "parameters": {
        "operation": "create",
        "resource": "folder",
        "name": "={{ $('Webhook NextJS').item.json.body.metadata.nombreCarpetaEvento }}",
        "driveId": {
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "mode": "id",
          "value": "={{ $('Set Asegurado ID').item.json.aseguradoFolderId }}"
        },
        "options": {}
      },
      "id": "5a3566a0-411a-4752-84e9-eccb89b4e17f",
      "name": "Create Evento Folder",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        1800,
        200
      ],
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "J1xI71DccSStfPee",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "mode": "passThrough"
      },
      "id": "dcf16f71-b28c-4ae8-968a-e7d60f3364d4",
      "name": "Merge Evento ID",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 2,
      "position": [
        2000,
        300
      ]
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "string": [
            {
              "name": "eventoFolderId",
              "value": "={{ $json.id ? $json.id : $('IF Evento Exists').item.json[0].id }}"
            }
          ]
        },
        "options": {}
      },
      "id": "234e22df-278b-4aeb-81b0-408ed7d819df",
      "name": "Set Evento ID",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [
        2200,
        300
      ]
    }
  ],
  "connections": {
    "Webhook NextJS": {
      "main": [
        [
          {
            "node": "Convert to File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Drive (Subir Expediente)": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert to File": {
      "main": [
        [
          {
            "node": "Search Asegurado Folder",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search Asegurado Folder": {
      "main": [
        [
          {
            "node": "IF Asegurado Exists",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF Asegurado Exists": {
      "main": [
        [
          {
            "node": "Create Asegurado Folder",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Merge Asegurado ID",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Create Asegurado Folder": {
      "main": [
        [
          {
            "node": "Merge Asegurado ID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge Asegurado ID": {
      "main": [
        [
          {
            "node": "Set Asegurado ID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Asegurado ID": {
      "main": [
        [
          {
            "node": "Search Evento Folder",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search Evento Folder": {
      "main": [
        [
          {
            "node": "IF Evento Exists",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF Evento Exists": {
      "main": [
        [
          {
            "node": "Create Evento Folder",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Merge Evento ID",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Create Evento Folder": {
      "main": [
        [
          {
            "node": "Merge Evento ID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge Evento ID": {
      "main": [
        [
          {
            "node": "Set Evento ID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Evento ID": {
      "main": [
        [
          {
            "node": "Google Drive (Subir Expediente)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  }
}
