docs/proposals/workflow2_automatizacion.json
{
  "name": "SGMM Automation - Production Ready v2.0 (Optimized)",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "sgmm-new-request",
        "options": {
          "responseMode": "lastNode"
        }
      },
      "id": "node-001",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [240, 400],
      "webhookId": "sgmm-automation"
    },
    {
      "parameters": {
        "operation": "read",
        "documentId": {
          "__rl": true,
          "value": "1ABC123SGMM_AFECTADOS",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "Afectados",
          "mode": "name"
        },
        "range": "A:Z",
        "options": {}
      },
      "id": "node-002",
      "name": "Google Sheets - Afectados",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.2,
      "position": [460, 400],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "GOOGLE_SHEETS_CREDENTIAL",
          "name": "Google Sheets Account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// ============================================\n// CODE AGENT 1: VALIDAR AFECTADO\n// ============================================\n// Busca afectado en Sheets y mapea documentos base\n\nconst input = $input.all();\nconst requestData = input[0].json;\nconst afectadosRows = input[1].json;\n\n// Buscar afectado por nombre o email\nlet afectado = afectadosRows.find(row => \n  row.Afectado?.toLowerCase() === requestData.nombre?.toLowerCase() || \n  row.Email?.toLowerCase() === requestData.email?.toLowerCase()\n);\n\nif (!afectado) {\n  throw new Error(`❌ Afectado no encontrado: ${requestData.nombre || requestData.email}`);\n}\n\n// Validar que tenga póliza activa\nif (!afectado.Poliza || afectado.Status !== 'ACTIVO') {\n  throw new Error(`❌ Afectado sin póliza activa: ${afectado.Afectado}`);\n}\n\n// Mapear documentos base requeridos\nconst baseDocs = {\n  ine: afectado.INE_URL || null,\n  bbva: afectado.BBVA_URL || null,\n  domicilio: afectado.DOMICILIO_URL || null,\n  poliza: afectado.Poliza,\n  numeroAsegurado: afectado.NumeroAsegurado,\n  telefono: afectado.Telefono,\n  direccion: afectado.Direccion\n};\n\n// Validar que existan los 3 docs obligatorios\nconst missingDocs = [];\nif (!baseDocs.ine) missingDocs.push('INE');\nif (!baseDocs.bbva) missingDocs.push('Estado de Cuenta BBVA');\nif (!baseDocs.domicilio) missingDocs.push('Comprobante Domicilio');\n\nif (missingDocs.length > 0) {\n  throw new Error(`❌ Documentos faltantes para ${afectado.Afectado}: ${missingDocs.join(', ')}`);\n}\n\n// Retornar datos consolidados\nreturn [{\n  json: {\n    ...requestData,\n    afectado: {\n      nombre: afectado.Afectado,\n      email: afectado.Email,\n      telefono: afectado.Telefono,\n      poliza: afectado.Poliza,\n      numeroAsegurado: afectado.NumeroAsegurado\n    },\n    baseDocs,\n    status: 'AFECTADO_VALIDADO',\n    timestamp: new Date().toISOString()\n  }\n}];"
      },
      "id": "node-003",
      "name": "Code Agent 1 - Validar Afectado",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [680, 400],
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.status }}",
              "operation": "equals",
              "value2": "AFECTADO_VALIDADO"
            }
          ]
        }
      },
      "id": "node-004",
      "name": "Switch - Afectado OK?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [900, 400]
    },
    {
      "parameters": {
        "channel": "SGMM-Errores",
        "text": "❌ *ERROR: Validación Afectado*\n\n*Nombre:* {{ $json.nombre || 'N/A' }}\n*Email:* {{ $json.email || 'N/A' }}\n*Error:* {{ $json.error || 'Desconocido' }}\n*Timestamp:* {{ $json.timestamp }}",
        "otherOptions": {}
      },
      "id": "node-005",
      "name": "Slack - Error Afectado",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.1,
      "position": [1120, 240],
      "credentials": {
        "slackApi": {
          "id": "SLACK_CREDENTIAL",
          "name": "Slack Account"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { \"success\": false, \"error\": $json.error, \"timestamp\": $json.timestamp } }}"
      },
      "id": "node-006",
      "name": "Stop Execution - Error",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1340, 240]
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "language": "python",
        "pythonCode": "# ============================================\n# OCR PROCESSING CON TESSERACT\n# ============================================\nimport pytesseract\nfrom PIL import Image\nimport io\nimport base64\nimport re\n\n# Obtener imagen del input\nimage_data = _input.first().binary.get('data')\n\nif image_data:\n    # Decodificar base64\n    image_bytes = base64.b64decode(image_data)\n    image = Image.open(io.BytesIO(image_bytes))\n    \n    # Pre-procesamiento para mejor OCR\n    image = image.convert('L')  # Escala de grises\n    \n    # OCR con configuración para español\n    ocr_text = pytesseract.image_to_string(image, lang='spa', config='--psm 6')\n    \n    return {'text': ocr_text, 'status': 'OCR_COMPLETADO'}\nelse:\n    return {'text': '', 'status': 'OCR_SIN_IMAGEN'}"
      },
      "id": "node-007",
      "name": "OCR - Tesseract Python",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1120, 560],
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "jsCode": "// ============================================\n// CODE AGENT 2: VALIDACIÓN OCR + EXTRACCIÓN DATOS MX\n// ============================================\n\nconst input = $input.first().json;\nconst ocrText = input.text || '';\nconst requestData = input;\n\n// Regex patterns para facturas médicas mexicanas\nconst patterns = {\n  // Monto: busca \"Total\", \"$\", números con comas\n  monto: /(?:total|importe|monto)[:\\s]*\\$?\\s*([0-9,]+\\.?[0-9]{0,2})/gi,\n  \n  // RFC (México): AAAA######XXX\n  rfc: /[A-ZÑ&]{3,4}\\d{6}[A-Z0-9]{3}/g,\n  \n  // Proveedor médico\n  proveedor: /(?:hospital|clínica|clinic|centro médico|doctor|dr\\.|dra\\.|consultorio|laboratorio)[\\s\\w]+/gi,\n  \n  // Fecha en formatos MX: DD/MM/YYYY, DD-MM-YYYY\n  fecha: /\\d{1,2}[\\/\\-]\\d{1,2}[\\/\\-]\\d{2,4}/g,\n  \n  // Concepto médico\n  concepto: /(?:consulta|estudio|análisis|cirugía|operación|medicamento|tratamiento|terapia|radiografía|ultrasonido|tomografía)/gi,\n  \n  // Folio/Factura\n  folio: /(?:folio|factura|recibo)[:\\s#]*([A-Z0-9\\-]+)/gi\n};\n\n// Extraer información\nconst montoMatches = [...ocrText.matchAll(patterns.monto)];\nconst extractions = {\n  monto: montoMatches.length > 0 \n    ? montoMatches[montoMatches.length - 1][1].replace(/,/g, '') \n    : null,\n  \n  rfc: ocrText.match(patterns.rfc)?.[0] || null,\n  \n  proveedor: ocrText.match(patterns.proveedor)?.[0]?.trim() || 'Proveedor No Identificado',\n  \n  fecha: ocrText.match(patterns.fecha)?.[0] || new Date().toISOString().split('T')[0],\n  \n  concepto: ocrText.match(patterns.concepto)?.[0]?.toLowerCase() || 'servicio médico',\n  \n  folio: ocrText.match(patterns.folio)?.[1] || `AUTO-${Date.now()}`\n};\n\n// ============================================\n// VALIDACIONES CRÍTICAS\n// ============================================\n\nconst errors = [];\nconst warnings = [];\n\n// 1. Validar monto\nif (!extractions.monto) {\n  errors.push('No se detectó monto en la factura');\n} else {\n  const montoNumerico = parseFloat(extractions.monto);\n  if (isNaN(montoNumerico) || montoNumerico <= 0) {\n    errors.push(`Monto inválido: ${extractions.monto}`);\n  } else if (montoNumerico > 500000) {\n    warnings.push(`Monto alto detectado: $${montoNumerico.toLocaleString('es-MX')} MXN`);\n  }\n  extractions.montoNumerico = montoNumerico;\n}\n\n// 2. Validar RFC (opcional pero recomendado)\nif (!extractions.rfc) {\n  warnings.push('RFC no detectado en factura');\n}\n\n// 3. Validar fecha\nif (!extractions.fecha) {\n  warnings.push('Fecha no detectada, usando fecha actual');\n}\n\n// 4. Validar que el texto OCR no esté vacío\nif (ocrText.length < 50) {\n  errors.push('Texto OCR muy corto, posible error en lectura');\n}\n\n// ============================================\n// RESULTADO\n// ============================================\n\nif (errors.length > 0) {\n  throw new Error(`❌ OCR Validation Failed:\\n${errors.join('\\n')}`);\n}\n\nreturn [{\n  json: {\n    ...requestData,\n    ocr_raw: ocrText,\n    ocr_data: extractions,\n    validaciones: {\n      errors: errors,\n      warnings: warnings,\n      confidence: ocrText.length > 200 ? 'ALTA' : 'MEDIA'\n    },\n    status: 'OCR_VALIDADO',\n    timestamp: new Date().toISOString()\n  }\n}];"
      },
      "id": "node-008",
      "name": "Code Agent 2 - OCR Validation",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1340, 560],
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.status }}",
              "operation": "equals",
              "value2": "OCR_VALIDADO"
            }
          ]
        }
      },
      "id": "node-009",
      "name": "Switch - OCR OK?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [1560, 560]
    },
    {
      "parameters": {
        "channel": "SGMM-Errores",
        "text": "❌ *ERROR: Validación OCR*\n\n*Afectado:* {{ $json.afectado?.nombre || 'N/A' }}\n*Archivo:* {{ $json.fileName || 'N/A' }}\n*Error:* {{ $json.error || 'OCR no detectó información válida' }}\n*Timestamp:* {{ $json.timestamp }}",
        "otherOptions": {}
      },
      "id": "node-010",
      "name": "Slack - Error OCR",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.1,
      "position": [1780, 400],
      "credentials": {
        "slackApi": {
          "id": "SLACK_CREDENTIAL",
          "name": "Slack Account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// ============================================\n// PDF FORMS FILLER\n// ============================================\n// Genera los PDFs con datos del afectado y OCR\n\nconst data = $input.first().json;\n\n// Mapeo de campos según tipo de evento\nconst formsData = {\n  // Campos comunes a todos los eventos\n  common: {\n    txtNombre: data.afectado.nombre,\n    txtPoliza: data.afectado.poliza,\n    txtNumeroAsegurado: data.afectado.numeroAsegurado,\n    txtTelefono: data.afectado.telefono,\n    txtEmail: data.afectado.email,\n    txtFecha: new Date().toLocaleDateString('es-MX')\n  },\n  \n  // Campos específicos por evento\n  reembolso: {\n    txtMontoTotalFacturas: data.ocr_data.montoNumerico?.toFixed(2) || '0.00',\n    txtProveedorMedico: data.ocr_data.proveedor,\n    txtFechaServicio: data.ocr_data.fecha,\n    txtConcepto: data.ocr_data.concepto,\n    txtFolioFactura: data.ocr_data.folio,\n    txtRFC: data.ocr_data.rfc || 'N/A',\n    txtNoFacturasReclamar: '1'\n  },\n  \n  medicamentos: {\n    chkMedicamentos: true,\n    txtMontoMedicamentos: data.ocr_data.montoNumerico?.toFixed(2) || '0.00',\n    txtFarmacia: data.ocr_data.proveedor\n  },\n  \n  nuevo: {\n    txtNumeroSiniestro: `SGMM-${Date.now()}`,\n    txtFechaOcurrencia: data.ocr_data.fecha,\n    txtDiagnostico: data.ocr_data.concepto\n  }\n};\n\n// Combinar campos según el tipo de evento\nconst evento = data.evento || 'reembolso';\nconst pdfFields = {\n  ...formsData.common,\n  ...formsData[evento]\n};\n\nreturn [{\n  json: {\n    ...data,\n    pdfFields,\n    pdfTemplate: `marsh-sgmm-${evento}`,\n    status: 'PDF_PREPARADO'\n  }\n}];"
      },
      "id": "node-011",
      "name": "PDF Forms - Preparar Datos",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1780, 720],
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "jsCode": "// ============================================\n// CODE AGENT 3: FINAL CHECKLIST\n// ============================================\n// Verifica que todos los documentos y campos estén completos\n\nconst data = $input.first().json;\n\n// Definir campos requeridos por tipo de evento\nconst requiredFieldsByEvent = {\n  nuevo: ['txtNombre', 'txtPoliza', 'txtNumeroSiniestro', 'txtNumeroAsegurado'],\n  reembolso: ['txtNombre', 'txtPoliza', 'txtMontoTotalFacturas', 'txtProveedorMedico', 'txtNoFacturasReclamar'],\n  medicamentos: ['txtNombre', 'txtPoliza', 'chkMedicamentos', 'txtMontoMedicamentos']\n};\n\nconst evento = data.evento || 'reembolso';\nconst requiredFields = requiredFieldsByEvent[evento] || [];\nconst pdfFields = data.pdfFields || {};\n\n// ============================================\n// CHECKLIST 1: CAMPOS PDF\n// ============================================\nconst missingFields = requiredFields.filter(field => {\n  const value = pdfFields[field];\n  return !value || value === '' || value === null || value === undefined;\n});\n\nif (missingFields.length > 0) {\n  throw new Error(`❌ Campos PDF faltantes (${evento}): ${missingFields.join(', ')}`);\n}\n\n// ============================================\n// CHECKLIST 2: DOCUMENTOS BASE\n// ============================================\nconst baseDocs = data.baseDocs || {};\nconst requiredDocs = ['ine', 'bbva', 'domicilio'];\nconst missingDocs = requiredDocs.filter(doc => !baseDocs[doc]);\n\nif (missingDocs.length > 0) {\n  throw new Error(`❌ Documentos base faltantes: ${missingDocs.join(', ')}`);\n}\n\n// ============================================\n// CHECKLIST 3: VALIDACIÓN OCR\n// ============================================\nif (!data.ocr_data || !data.ocr_data.montoNumerico) {\n  throw new Error('❌ Datos OCR incompletos');\n}\n\nif (data.ocr_data.montoNumerico <= 0) {\n  throw new Error('❌ Monto OCR inválido o cero');\n}\n\n// ============================================\n// CHECKLIST 4: INFORMACIÓN AFECTADO\n// ============================================\nif (!data.afectado || !data.afectado.email) {\n  throw new Error('❌ Email del afectado no encontrado');\n}\n\n// ============================================\n// GENERAR REPORTE DE CHECKLIST\n// ============================================\nconst checklistReport = {\n  evento: evento,\n  afectado: data.afectado.nombre,\n  camposPDF: {\n    requeridos: requiredFields.length,\n    completos: requiredFields.length - missingFields.length,\n    status: '✅ COMPLETO'\n  },\n  documentosBase: {\n    requeridos: requiredDocs.length,\n    completos: requiredDocs.length - missingDocs.length,\n    status: '✅ COMPLETO'\n  },\n  datosOCR: {\n    monto: data.ocr_data.montoNumerico,\n    proveedor: data.ocr_data.proveedor,\n    confidence: data.validaciones?.confidence || 'MEDIA',\n    status: '✅ VALIDADO'\n  },\n  timestamp: new Date().toISOString()\n};\n\n// Calcular nombre del ZIP\nconst zipName = `${data.afectado.nombre.replace(/\\s+/g, '_')}_${evento}_${Date.now()}`;\n\nreturn [{\n  json: {\n    ...data,\n    checklistReport,\n    zipName,\n    status: 'CHECKLIST_COMPLETO',\n    readyForZip: true\n  }\n}];"
      },
      "id": "node-012",
      "name": "Code Agent 3 - Final Checklist",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2000, 720],
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.status }}",
              "operation": "equals",
              "value2": "CHECKLIST_COMPLETO"
            }
          ]
        }
      },
      "id": "node-013",
      "name": "Switch - Checklist OK?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [2220, 720]
    },
    {
      "parameters": {
        "channel": "SGMM-Errores",
        "text": "❌ *ERROR: Checklist Final*\n\n*Afectado:* {{ $json.afectado?.nombre || 'N/A' }}\n*Evento:* {{ $json.evento || 'N/A' }}\n*Error:* {{ $json.error || 'Checklist incompleto' }}\n*Timestamp:* {{ $json.timestamp }}",
        "otherOptions": {}
      },
      "id": "node-014",
      "name": "Slack - Error Checklist",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.1,
      "position": [2440, 560],
      "credentials": {
        "slackApi": {
          "id": "SLACK_CREDENTIAL",
          "name": "Slack Account"
        }
      }
    },
    {
      "parameters": {
        "operation": "compress",
        "binaryPropertyName": "data",
        "outputFormat": "zip",
        "zipFileName": "={{ $json.zipName }}.zip"
      },
      "id": "node-015",
      "name": "ZIP Generator",
      "type": "n8n-nodes-base.compress",
      "typeVersion": 1,
      "position": [2440, 880]
    },
    {
      "parameters": {
        "operation": "upload",
        "folderId": {
          "__rl": true,
          "value": "SGMM_DRIVE_FOLDER_ID",
          "mode": "id"
        },
        "binaryData": true,
        "name": "={{ $json.zipName }}.zip",
        "options": {
          "keepRevisionForever": true
        }
      },
      "id": "node-016",
      "name": "Google Drive - Upload ZIP",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [2660, 880],
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "GOOGLE_DRIVE_CREDENTIAL",
          "name": "Google Drive Account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// ============================================\n// CODE AGENT 3.5: VALIDAR DRIVE UPLOAD\n// ============================================\n// Verifica que el archivo se subió correctamente a Drive\n\nconst driveData = $input.first().json;\nconst previousData = $input.first().json;\n\n// Validar que existe webViewLink (indicador de subida exitosa)\nif (!driveData.webViewLink) {\n  throw new Error('❌ Drive upload falló: No se generó link de visualización');\n}\n\n// Validar que existe el ID del archivo\nif (!driveData.id) {\n  throw new Error('❌ Drive upload falló: No se generó ID de archivo');\n}\n\n// Crear link compartible (cambiar permisos de view a sharing)\nconst shareableLink = driveData.webViewLink\n  .replace('/view?usp=drivesdk', '/view?usp=sharing');\n\n// Crear link directo de descarga\nconst downloadLink = `https://drive.google.com/uc?export=download&id=${driveData.id}`;\n\nreturn [{\n  json: {\n    ...previousData,\n    drive: {\n      fileId: driveData.id,\n      fileName: driveData.name,\n      webViewLink: shareableLink,\n      downloadLink: downloadLink,\n      size: driveData.size,\n      mimeType: driveData.mimeType,\n      createdTime: driveData.createdTime\n    },\n    status: 'DRIVE_UPLOAD_OK',\n    emailReady: true\n  }\n}];"
      },
      "id": "node-017",
      "name": "Code Agent 3.5 - Validate Drive URL",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2880, 880],
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.status }}",
              "operation": "equals",
              "value2": "DRIVE_UPLOAD_OK"
            }
          ]
        }
      },
      "id": "node-018",
      "name": "Switch - Drive OK?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [3100, 880]
    },
    {
      "parameters": {
        "channel": "SGMM-Errores",
        "text": "❌ *ERROR: Drive Upload*\n\n*Afectado:* {{ $json.afectado?.nombre || 'N/A' }}\n*Archivo:* {{ $json.zipName || 'N/A' }}\n*Error:* {{ $json.error || 'No se pudo subir a Drive' }}\n*Timestamp:* {{ $json.timestamp }}",
        "otherOptions": {}
      },
      "id": "node-019",
      "name": "Slack - Error Drive",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.1,
      "position": [3320, 720],
      "credentials": {
        "slackApi": {
          "id": "SLACK_CREDENTIAL",
          "name": "Slack Account"
        }
      }
    },
    {
      "parameters": {
        "fromEmail": "noreply@sgmm.mx",
        "toEmail": "={{ $json.afectado.email }}",
        "subject": "✅ SGMM {{ $json.evento.toUpperCase() }} - Documentos Listos",
        "emailType": "html",
        "message": "=<!DOCTYPE html>\n<html>\n<head>\n  <style>\n    body { font-family: Arial, sans-serif; line-height: 1.6; color: #333; }\n    .container { max-width: 600px; margin: 0 auto; padding: 20px; }\n    .header { background: #0066cc; color: white; padding: 20px; border-radius: 5px; }\n    .content { background: #f9f9f9; padding: 20px; margin-top: 20px; border-radius: 5px; }\n    .button { background: #0066cc; color: white; padding: 12px 30px; text-decoration: none; border-radius: 5px; display: inline-block; margin-top: 15px; }\n    .footer { margin-top: 20px; font-size: 12px; color: #666; }\n    .checklist { background: white; padding: 15px; margin-top: 15px; border-left: 4px solid #00cc66; }\n  </style>\n</head>\n<body>\n  <div class=\"container\">\n    <div class=\"header\">\n      <h2>✅ Tu solicitud SGMM está lista</h2>\n    </div>\n    \n    <div class=\"content\">\n      <p>Hola <strong>{{ $json.afectado.nombre }}</strong>,</p>\n      \n      <p>Tu solicitud de <strong>{{ $json.evento.toUpperCase() }}</strong> ha sido procesada exitosamente.</p>\n      \n      <div class=\"checklist\">\n        <h3>📋 Resumen del Trámite</h3>\n        <ul>\n          <li><strong>Póliza:</strong> {{ $json.afectado.poliza }}</li>\n          <li><strong>Monto Total:</strong> ${{ $json.ocr_data.montoNumerico.toLocaleString('es-MX') }} MXN</li>\n          <li><strong>Proveedor:</strong> {{ $json.ocr_data.proveedor }}</li>\n          <li><strong>Fecha Servicio:</strong> {{ $json.ocr_data.fecha }}</li>\n          <li><strong>Documentos Incluidos:</strong> {{ $json.checklistReport.documentosBase.completos }} de {{ $json.checklistReport.documentosBase.requeridos }}</li>\n        </ul>\n      </div>\n      \n      <p><strong>Tu expediente está disponible en Google Drive:</strong></p>\n      \n      <a href=\"{{ $json.drive.webViewLink }}\" class=\"button\">📁 Ver Documentos en Drive</a>\n      \n      <p style=\"margin-top: 20px; font-size: 14px; color: #666;\">\n        <em>Los documentos permanecerán disponibles en Drive. Descarga el ZIP si necesitas una copia local.</em>\n      </p>\n    </div>\n    \n    <div class=\"footer\">\n      <p>Este es un correo automático del sistema SGMM Automation.</p>\n      <p>Si tienes dudas, contacta a tu asesor SGMM.</p>\n    </div>\n  </div>\n</body>\n</html>",
        "options": {
          "attachments": "data"
        }
      },
      "id": "node-020",
      "name": "Email - Notificación Cliente",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [3320, 1040],
      "credentials": {
        "smtp": {
          "id": "SMTP_CREDENTIAL",
          "name": "SMTP Account"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1ABC123SGMM_HISTORIAL",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "Historial",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Timestamp": "={{ $json.timestamp }}",
            "Afectado": "={{ $json.afectado.nombre }}",
            "Email": "={{ $json.afectado.email }}",
            "Poliza": "={{ $json.afectado.poliza }}",
            "Evento": "={{ $json.evento }}",
            "Monto": "={{ $json.ocr_data.montoNumerico }}",
            "Proveedor": "={{ $json.ocr_data.proveedor }}",
            "Drive_Link": "={{ $json.drive.webViewLink }}",
            "Status": "COMPLETADO",
            "Confidence": "={{ $json.validaciones.confidence }}"
          }
        },
        "options": {}
      },
      "id": "node-021",
      "name": "Sheets - Log Historial",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.2,
      "position": [3540, 1040],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "GOOGLE_SHEETS_CREDENTIAL",
          "name": "Google Sheets Account"
        }
      }
    },
    {
      "parameters": {
        "channel": "SGMM-Production",
        "text": "✅ *SGMM {{ $json.evento.toUpperCase() }} - COMPLETADO*\n\n👤 *Afectado:* {{ $json.afectado.nombre }}\n📧 *Email:* {{ $json.afectado.email }}\n🏥 *Proveedor:* {{ $json.ocr_data.proveedor }}\n💰 *Monto:* ${{ $json.ocr_data.montoNumerico.toLocaleString('es-MX') }} MXN\n📊 *Confidence:* {{ $json.validaciones.confidence }}\n\n📁 [Ver en Drive]({{ $json.drive.webViewLink }})\n📥 [Descargar ZIP]({{ $json.drive.downloadLink }})\n\n⏰ {{ $json.timestamp }}",
        "otherOptions": {}
      },
      "id": "node-022",
      "name": "Slack - Success Notification",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.1,
      "position": [3760, 1040],
      "credentials": {
        "slackApi": {
          "id": "SLACK_CREDENTIAL",
          "name": "Slack Account"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ {\n  \"success\": true,\n  \"afectado\": $json.afectado.nombre,\n  \"evento\": $json.evento,\n  \"monto\": $json.ocr_data.montoNumerico,\n  \"drive_link\": $json.drive.webViewLink,\n  \"timestamp\": $json.timestamp\n} }}"
      },
      "id": "node-023",
      "name": "Respond to Webhook - Success",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [3980, 1040]
    }
  ],
  "connections": {
    "Webhook Trigger": {
      "main": [
        [
          {
            "node": "Google Sheets - Afectados",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets - Afectados": {
      "main": [
        [
          {
            "node": "Code Agent 1 - Validar Afectado",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code Agent 1 - Validar Afectado": {
      "main": [
        [
          {
            "node": "Switch - Afectado OK?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch - Afectado OK?": {
      "main": [
        [
          {
            "node": "OCR - Tesseract Python",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Slack - Error Afectado",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Slack - Error Afectado": {
      "main": [
        [
          {
            "node": "Stop Execution - Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OCR - Tesseract Python": {
      "main": [
        [
          {
            "node": "Code Agent 2 - OCR Validation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code Agent 2 - OCR Validation": {
      "main": [
        [
          {
            "node": "Switch - OCR OK?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch - OCR OK?": {
      "main": [
        [
          {
            "node": "PDF Forms - Preparar Datos",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Slack - Error OCR",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PDF Forms - Preparar Datos": {
      "main": [
        [
          {
            "node": "Code Agent 3 - Final Checklist",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code Agent 3 - Final Checklist": {
      "main": [
        [
          {
            "node": "Switch - Checklist OK?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch - Checklist OK?": {
      "main": [
        [
          {
            "node": "ZIP Generator",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Slack - Error Checklist",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ZIP Generator": {
      "main": [
        [
          {
            "node": "Google Drive - Upload ZIP",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Drive - Upload ZIP": {
      "main": [
        [
          {
            "node": "Code Agent 3.5 - Validate Drive URL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code Agent 3.5 - Validate Drive URL": {
      "main": [
        [
          {
            "node": "Switch - Drive OK?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch - Drive OK?": {
      "main": [
        [
          {
            "node": "Email - Notificación Cliente",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Slack - Error Drive",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Email - Notificación Cliente": {
      "main": [
        [
          {
            "node": "Sheets - Log Historial",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sheets - Log Historial": {
      "main": [
        [
          {
            "node": "Slack - Success Notification",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Slack - Success Notification": {
      "main": [
        [
          {
            "node": "Respond to Webhook - Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": ""
  },
  "staticData": null,
  "tags": [
    {
      "createdAt": "2026-03-10T10:00:00.000Z",
      "updatedAt": "2026-03-10T10:00:00.000Z",
      "id": "1",
      "name": "SGMM"
    },
    {
      "createdAt": "2026-03-10T10:00:00.000Z",
      "updatedAt": "2026-03-10T10:00:00.000Z",
      "id": "2",
      "name": "Production"
    }
  ],
  "triggerCount": 1,
  "updatedAt": "2026-03-10T10:30:00.000Z",
  "versionId": "2.0.0"
}
