workflows/auditoria/GMM-Agent-v2.json
{
  "name": "GMM-Agent-v2-Autonomous-Claude",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "gmm-new-request-prod",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "d5c3d072-52f9-4f2e-81dc-ed626758be08",
      "name": "webhook_trigger",
      "position": [
        -208,
        112
      ],
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "webhookId": "db40c9b2-6ae9-47bc-8494-86ce313e5d4e",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {},
      "id": "manual-id-1",
      "name": "manual_trigger",
      "position": [
        16,
        304
      ],
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1
    },
    {
      "parameters": {
        "text": "=NUEVA SOLICITUD DE SINIESTRO RECIBIDA: {{ JSON.stringify($node[\"webhook_trigger\"].json.body) }}\\n\\nPor favor, inicia el procesamiento."
      },
      "id": "agent-id-1",
      "name": "agent_gmm",
      "position": [
        496,
        208
      ],
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.jobId || $json.body?.jobId || $execution.id }}"
      },
      "id": "memory-id-1",
      "name": "memory_gmm",
      "position": [
        352,
        512
      ],
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3
    },
    {
      "parameters": {
        "description": "Procesa los archivos PDF para extraer información médica y fiscal. Requiere jobId.",
        "workflowId": "M5yz5irHURXv0wl0",
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "jobId": "={{ $fromAI(\"jobId\", \"El ID del job de procesamiento\", \"string\") }}"
          }
        }
      },
      "id": "tool-pdf-id-1",
      "name": "process_pdfs",
      "position": [
        800,
        448
      ],
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2
    },
    {
      "parameters": {
        "description": "Genera el archivo ZIP final y envía el correo de confirmación. Requiere siniestroId.",
        "workflowId": "niTxNaK2iazIV6Ku",
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "siniestroId": "={{ $fromAI(\"siniestroId\", \"El ID del siniestro para el cual generar el paquete\", \"string\") }}"
          }
        }
      },
      "id": "tool-zip-id-1",
      "name": "zip_and_email",
      "position": [
        960,
        432
      ],
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2
    },
    {
      "parameters": {
        "description": "Registra el siniestro en la base de datos de n8n y Google Sheets. Retorna el jobId.",
        "workflowId": "iWDi0Oizh4tpnihN",
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "siniestroId": "={{ $fromAI(\"siniestroId\", \"El ID del siniestro si está disponible\", \"string\") }}"
          }
        }
      },
      "id": "tool-data-id-1",
      "name": "register_siniestro",
      "position": [
        512,
        432
      ],
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2
    },
    {
      "parameters": {
        "description": "Monitorea el estado del expediente y actualiza el dashboard. Requiere jobId.",
        "workflowId": "Y0Ed5qmai3sDSbyi",
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "jobId": "={{ $fromAI(\"jobId\", \"El ID del job a monitorear\", \"string\") }}"
          }
        }
      },
      "id": "tool-monitor-id-1",
      "name": "monitor_expediente",
      "position": [
        656,
        528
      ],
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://gmm.pash.uno/api/gmm-callback",
        "sendHeaders": true,
        "specifyHeaders": "json",
        "jsonHeaders": "={ \"Authorization\": \"Bearer gmm_prod_auth_k3y_2026_v1\", \"Content-Type\": \"application/json\" }",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { \"jobId\": $node[\"set_jobid\"].json.jobId || $node[\"webhook_trigger\"].json.body.jobId || $execution.id, \"status\": \"ready\", \"result\": $json.output, \"executionId\": $execution.id } }}",
        "options": {}
      },
      "id": "578563c5-5e5b-458a-bc74-91a74bfa0309",
      "name": "callback_dashboard",
      "position": [
        1088,
        208
      ],
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4
    },
    {
      "parameters": {},
      "id": "0d341dbb-0374-4002-8798-cf1d11f8167b",
      "name": "error_trigger",
      "position": [
        -208,
        544
      ],
      "type": "n8n-nodes-base.errorTrigger",
      "typeVersion": 1
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://gmm.pash.uno/api/gmm-callback",
        "sendHeaders": true,
        "specifyHeaders": "json",
        "jsonHeaders": "={ \"Authorization\": \"Bearer gmm_prod_auth_k3y_2026_v1\", \"Content-Type\": \"application/json\" }",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { \"jobId\": $node[\"set_jobid\"].json.jobId || $node[\"webhook_trigger\"].json.body.jobId || $execution.id, \"status\": \"error\", \"error\": $error.message, \"executionId\": $execution.id } }}",
        "options": {}
      },
      "id": "11517bad-e1eb-4d35-8fa3-579a0132fd59",
      "name": "callback_dashboard_error",
      "position": [
        16,
        544
      ],
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4
    },
    {
      "parameters": {
        "model": "anthropic/claude-sonnet-4.5",
        "options": {}
      },
      "id": "openrouter-id-1",
      "name": "claude_llm",
      "position": [
        240,
        432
      ],
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1
    },
    {
      "parameters": {
        "enableResponseOutput": true,
        "options": {
          "responseCode": 200
        },
        "respondWith": "json",
        "responseBody": "={{ { \"success\": true, \"jobId\": $node[\"set_jobid\"].json.jobId } }}",
        "responseMode": null
      },
      "id": "7f3c8d07-651a-4c6f-85a6-62ef0322b21e",
      "name": "respond_to_webhook",
      "position": [
        144,
        160
      ],
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5
    },
    {
      "parameters": {
        "fields": {
          "values": [
            {
              "name": "jobId",
              "stringValue": "= {{ $node[\"webhook_trigger\"].json.body.jobId || $node[\"webhook_trigger\"].json.body.metadata?.jobId || \"MISSING_\" + $execution.id }}"
            }
          ]
        },
        "options": {}
      },
      "id": "set_jobid_id",
      "name": "set_jobid",
      "position": [
        -48,
        112
      ],
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.2
    }
  ],
  "connections": {
    "agent_gmm": {
      "main": [
        [
          {
            "index": 0,
            "node": "callback_dashboard",
            "type": "main"
          }
        ]
      ]
    },
    "claude_llm": {
      "ai_languageModel": [
        [
          {
            "index": 0,
            "node": "agent_gmm",
            "type": "ai_languageModel"
          }
        ]
      ]
    },
    "error_trigger": {
      "main": [
        [
          {
            "index": 0,
            "node": "callback_dashboard_error",
            "type": "main"
          }
        ]
      ]
    },
    "manual_trigger": {
      "main": [
        [
          {
            "index": 0,
            "node": "agent_gmm",
            "type": "main"
          }
        ]
      ]
    },
    "memory_gmm": {
      "ai_memory": [
        [
          {
            "index": 0,
            "node": "agent_gmm",
            "type": "ai_memory"
          }
        ]
      ]
    },
    "monitor_expediente": {
      "ai_tool": [
        [
          {
            "index": 0,
            "node": "agent_gmm",
            "type": "ai_tool"
          }
        ]
      ]
    },
    "process_pdfs": {
      "ai_tool": [
        [
          {
            "index": 0,
            "node": "agent_gmm",
            "type": "ai_tool"
          }
        ]
      ]
    },
    "register_siniestro": {
      "ai_tool": [
        [
          {
            "index": 0,
            "node": "agent_gmm",
            "type": "ai_tool"
          }
        ]
      ]
    },
    "respond_to_webhook": {
      "main": [
        [
          {
            "index": 0,
            "node": "agent_gmm",
            "type": "main"
          }
        ]
      ]
    },
    "set_jobid": {
      "main": [
        [
          {
            "index": 0,
            "node": "respond_to_webhook",
            "type": "main"
          }
        ]
      ]
    },
    "webhook_trigger": {
      "main": [
        [
          {
            "index": 0,
            "node": "set_jobid",
            "type": "main"
          }
        ]
      ]
    },
    "zip_and_email": {
      "ai_tool": [
        [
          {
            "index": 0,
            "node": "agent_gmm",
            "type": "ai_tool"
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveDataErrorExecution": "all",
    "saveDataSuccessExecution": "all",
    "saveManualExecutions": true,
    "saveExecutionProgress": true
  }
}
