workflows/auditoria/GMM-Agent-v2.json
{
  "name": "GMM-Agent-v2-Autonomous-Claude",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "options": {},
        "path": "gmm-new-request-prod",
        "responseMode": "responseNode"
      },
      "id": "d5c3d072-52f9-4f2e-81dc-ed626758be08",
      "name": "WebhookTrigger",
      "position": [
        -200,
        150
      ],
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "webhookId": "db40c9b2-6ae9-47bc-8494-86ce313e5d4e"
    },
    {
      "parameters": {
        "options": {
          "systemMessage": "Eres el Agente de Auditoría GMM (Gastos Médicos Móviles). \n\nOBJETIVO: Procesar solicitudes de siniestros de principio a fin de manera autónoma.\nMODO DE OPERACIÓN:\n1. Registra el siniestro usando ToolDataRegister.\n2. Si hay PDFs, procésalos con ToolPDFProcessor.\n3. Monitorea el progreso con ToolMonitor si es necesario.\n4. Finaliza empaquetando todo con ToolZIPEmail.\n\nREGLAS:\n- Sé conciso. No expliques tus razonamientos internos a menos que sea necesario.\n- Si ocurre un error crítico, informa a través de las herramientas disponibles.\n- Siempre usa el jobId proporcionado en el contexto."
        },
        "promptType": "define",
        "text": "=SOLICITUD RECIBIDA: {{ JSON.stringify($json.body) }}\n\nInicia el procesamiento para el JobId: {{ $node[\"Set JobId\"].json.jobId }}"
      },
      "id": "agent-id-1",
      "name": "AlAgenteGMM",
      "position": [
        600,
        250
      ],
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $node[\"Set JobId\"].json.jobId }}"
      },
      "id": "memory-id-1",
      "name": "MemoryGMM",
      "position": [
        450,
        450
      ],
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3
    },
    {
      "parameters": {
        "description": "Procesa los archivos PDF para extraer información médica y fiscal.",
        "workflowId": "M5yz5irHURXv0wl0",
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "jobId": "={{ $node[\"Set JobId\"].json.jobId }}"
          }
        }
      },
      "id": "tool-pdf-id-1",
      "name": "ToolPDFProcessor",
      "position": [
        750,
        450
      ],
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2
    },
    {
      "parameters": {
        "description": "Genera el archivo ZIP final y envía el correo de confirmación.",
        "workflowId": "niTxNaK2iazIV6Ku",
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "siniestroId": "={{ $fromAI(\"siniestroId\", \"ID del siniestro\", \"string\") }}",
            "jobId": "={{ $node[\"Set JobId\"].json.jobId }}"
          }
        }
      },
      "id": "tool-zip-id-1",
      "name": "ToolZIPEmail",
      "position": [
        850,
        450
      ],
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2
    },
    {
      "parameters": {
        "description": "Registra el siniestro en la base de datos de n8n y Google Sheets.",
        "workflowId": "iWDi0Oizh4tpnihN",
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "jobId": "={{ $node[\"Set JobId\"].json.jobId }}"
          }
        }
      },
      "id": "tool-data-id-1",
      "name": "ToolDataRegister",
      "position": [
        550,
        450
      ],
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2
    },
    {
      "parameters": {
        "description": "Monitorea el estado del expediente y actualiza el dashboard.",
        "workflowId": "Y0Ed5qmai3sDSbyi",
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "jobId": "={{ $node[\"Set JobId\"].json.jobId }}"
          }
        }
      },
      "id": "tool-monitor-id-1",
      "name": "ToolMonitor",
      "position": [
        650,
        450
      ],
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2
    },
    {
      "parameters": {
        "authentication": "none",
        "jsonBody": "={{ { jobId: $node[\"Set JobId\"].json.jobId, status: \"completed\", result: $json.output } }}",
        "jsonHeaders": "={ \"x-callback-secret\": \"{{ $env[\"GMM_CALLBACK_SECRET\"] }}\" }",
        "method": "POST",
        "url": "https://gmm.pash.uno/api/gmm-callback"
      },
      "id": "578563c5-5e5b-458a-bc74-91a74bfa0309",
      "name": "Callback Dashboard",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        900,
        250
      ]
    },
    {
      "parameters": {},
      "id": "0d341dbb-0374-4002-8798-cf1d11f8167b",
      "name": "Error Trigger",
      "type": "n8n-nodes-base.errorTrigger",
      "typeVersion": 1,
      "position": [
        -200,
        600
      ]
    },
    {
      "parameters": {
        "authentication": "none",
        "jsonBody": "={{ { jobId: $node[\"Set JobId\"].json.jobId, status: \"error\", message: $json.message || \"Fallo en ejecución de Orquestador\" } }}",
        "jsonHeaders": "={ \"x-callback-secret\": \"{{ $env[\"GMM_CALLBACK_SECRET\"] }}\" }",
        "method": "POST",
        "url": "https://gmm.pash.uno/api/gmm-callback"
      },
      "id": "11517bad-e1eb-4d35-8fa3-579a0132fd59",
      "name": "Callback Dashboard Error",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        100,
        600
      ]
    },
    {
      "parameters": {
        "model": "anthropic/claude-sonnet-4.5",
        "options": {}
      },
      "id": "openrouter-id-1",
      "name": "CLAUDE",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        250,
        450
      ]
    },
    {
      "id": "7f3c8d07-651a-4c6f-85a6-62ef0322b21e",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        300,
        50
      ],
      "parameters": {
        "options": {
          "responseCode": 200
        },
        "respondWith": "json",
        "responseBody": "={ \"success\": true, \"jobId\": \"{{ $node[\"Set JobId\"].json.jobId }}\", \"status\": \"processing\" }"
      }
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "jobId",
              "value": "={{ $node[\"WebhookTrigger\"].json.body.jobId || $node[\"WebhookTrigger\"].json.body.metadata?.jobId || \"MISSING_JOB_ID_\" + $execution.id }}"
            }
          ]
        }
      },
      "id": "set-jobid-id",
      "name": "Set JobId",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.2,
      "position": [
        50,
        150
      ]
    }
  ],
  "connections": {
    "WebhookTrigger": {
      "main": [
        [
          {
            "node": "Set JobId",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set JobId": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          },
          {
            "node": "AlAgenteGMM",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AlAgenteGMM": {
      "main": [
        [
          {
            "node": "Callback Dashboard",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Error Trigger": {
      "main": [
        [
          {
            "node": "Callback Dashboard Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "CLAUDE": {
      "ai_languageModel": [
        [
          {
            "node": "AlAgenteGMM",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "MemoryGMM": {
      "ai_memory": [
        [
          {
            "node": "AlAgenteGMM",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "ToolDataRegister": {
      "ai_tool": [
        [
          {
            "node": "AlAgenteGMM",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "ToolMonitor": {
      "ai_tool": [
        [
          {
            "node": "AlAgenteGMM",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "ToolPDFProcessor": {
      "ai_tool": [
        [
          {
            "node": "AlAgenteGMM",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "ToolZIPEmail": {
      "ai_tool": [
        [
          {
            "node": "AlAgenteGMM",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveDataErrorExecution": "all",
    "saveDataSuccessExecution": "all"
  }
}
