workflows/GMM-Agent-v2.json
{
  "name": "GMM-Agent-v2-Autonomous-Claude",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "gmm-new-request-prod",
        "options": {}
      },
      "id": "d5c3d072-52f9-4f2e-81dc-ed626758be08",
      "name": "WebhookTrigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -208,
        112
      ]
    },
    {
      "parameters": {},
      "id": "manual-id-1",
      "name": "ManualTrigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        16,
        304
      ]
    },
    {
      "parameters": {
        "options": {},
        "promptType": "define",
        "systemMessage": "Eres el Agente GMM (Gastos Médicos Mayores), un asistente avanzado de AXA Seguros y Mapfre. Tu misión es procesar reclamaciones médicas de forma autónoma.\n\nREGLAS DE ORO:\n1. Siempre usa 'ToolDataRegister' primero para validar y persistir los datos del siniestro.\n2. Usa 'ToolPDFProcessor' para generar los documentos necesarios (Facturas, Consultas, Informes).\n3. Usa 'ToolMonitor' frecuentemente para informar al usuario de tu progreso.\n4. Finaliza SIEMPRE con 'ToolZIPEmail' para enviar el paquete completo al asegurado.\n\nTONO: Profesional pero empático. Habla en español de México.\nCONTEXTO: Los siniestros vienen en el cuerpo de la solicitud ($json.body).\n",
        "text": "={{ $json.body.metadata?.siniestroId ? \"Procesar siniestro: \" + $json.body.metadata.siniestroId : ($json.body.ticket_id ? \"Procesar siniestro: \" + $json.body.ticket_id : \"Procesar siniestro\") }}"
      },
      "id": "agent-id-1",
      "name": "AlAgenteGMM",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        496,
        208
      ]
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.body.metadata?.siniestroId ?? $json.body.ticket_id ?? $execution.id }}"
      },
      "id": "memory-id-1",
      "name": "MemoryGMM",
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        368,
        432
      ]
    },
    {
      "parameters": {
        "description": "Procesa la generación de archivos PDF para reclamaciones médicas GMM analizando los datos extraídos de la solicitud.",
        "workflowId": "M5yz5irHURXv0wl0",
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {}
        }
      },
      "id": "tool-pdf-id-1",
      "name": "ToolPDFProcessor",
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        752,
        432
      ]
    },
    {
      "parameters": {
        "description": "Genera un archivo ZIP con los PDFs procesados y lo envía por correo electrónico al asegurado como confirmación del trámite.",
        "workflowId": "niTxNaK2iazIV6Ku",
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {}
        }
      },
      "id": "tool-zip-id-1",
      "name": "ToolZIPEmail",
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        880,
        432
      ]
    },
    {
      "parameters": {
        "description": "Registra la información del siniestro en la base de datos central de GMM y en Google Sheets para el historial de auditoría.",
        "workflowId": "iWDi0Oizh4tpnihN",
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {}
        }
      },
      "id": "tool-data-id-1",
      "name": "ToolDataRegister",
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        496,
        432
      ]
    },
    {
      "parameters": {
        "description": "Monitorea el estado de procesamiento del expediente y actualiza el estado visual en el dashboard de GMM.",
        "workflowId": "Y0Ed5qmai3sDSbyi",
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {}
        }
      },
      "id": "tool-monitor-id-1",
      "name": "ToolMonitor",
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        624,
        432
      ]
    },
    {
      "parameters": {
        "authentication": "headerAuth",
        "jsonBody": "{\n  \"jobId\": \"{{ $execution.id }}\",\n  \"status\": \"completed\",\n  \"result\": \"{{ $json.output }}\"\n}",
        "method": "POST",
        "options": {},
        "sendBody": true,
        "specifyBody": "json",
        "url": "https://gmm.pash.uno/api/callback"
      },
      "id": "578563c5-5e5b-458a-bc74-91a74bfa0309",
      "name": "Callback Dashboard",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        1088,
        208
      ]
    },
    {
      "parameters": {},
      "id": "0d341dbb-0374-4002-8798-cf1d11f8167b",
      "name": "Error Trigger",
      "type": "n8n-nodes-base.errorTrigger",
      "typeVersion": 1,
      "position": [
        -208,
        544
      ]
    },
    {
      "parameters": {
        "authentication": "headerAuth",
        "jsonBody": "{\n  \"jobId\": \"{{ $execution.id }}\",\n  \"status\": \"failed\",\n  \"error\": \"{{ $json.error.message }}\"\n}",
        "method": "POST",
        "options": {},
        "sendBody": true,
        "specifyBody": "json",
        "url": "https://gmm.pash.uno/api/callback"
      },
      "id": "11517bad-e1eb-4d35-8fa3-579a0132fd59",
      "name": "Callback Dashboard Error",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        16,
        544
      ]
    },
    {
      "parameters": {
        "model": "anthropic/claude-sonnet-4.5",
        "options": {}
      },
      "id": "openrouter-id-1",
      "name": "CLAUDE",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        240,
        432
      ],
      "credentials": {
        "openRouterApi": {
          "id": "xqgVyR8B4ckqJpvH",
          "name": "OpenRouter API Key"
        }
      }
    }
  ],
  "connections": {
    "AlAgenteGMM": {
      "main": [
        [
          {
            "node": "Callback Dashboard",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ManualTrigger": {
      "main": [
        [
          {
            "node": "AlAgenteGMM",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "MemoryGMM": {
      "ai_memory": [
        [
          {
            "node": "AlAgenteGMM",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "ToolDataRegister": {
      "ai_tool": [
        [
          {
            "node": "AlAgenteGMM",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "ToolMonitor": {
      "ai_tool": [
        [
          {
            "node": "AlAgenteGMM",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "ToolPDFProcessor": {
      "ai_tool": [
        [
          {
            "node": "AlAgenteGMM",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "ToolZIPEmail": {
      "ai_tool": [
        [
          {
            "node": "AlAgenteGMM",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "WebhookTrigger": {
      "main": [
        [
          {
            "node": "AlAgenteGMM",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Error Trigger": {
      "main": [
        [
          {
            "node": "Callback Dashboard Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "CLAUDE": {
      "ai_languageModel": [
        [
          {
            "node": "AlAgenteGMM",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "meta": {
    "templateCredsSetupCompleted": true
  }
}
