workflows/GMM-Agent-v2.json
{
  "updatedAt": "2026-03-29T20:42:37.505Z",
  "createdAt": "2026-03-28T01:05:07.358Z",
  "id": "eLPePdBS1utfjed0",
  "name": "GMM-Agent-v2-Autonomous-Gemini",
  "description": null,
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "sgmm-new-request-modular",
        "options": {}
      },
      "id": "webhook-id-1",
      "name": "WebhookTrigger",
      "position": [
        -208,
        112
      ],
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "webhookId": "eb4ec13f-63cd-4c61-aa47-0126cc6bf73b",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {},
      "id": "manual-id-1",
      "name": "ManualTrigger",
      "position": [
        -208,
        304
      ],
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.body.variables ?? $json.variables ?? \"Procesar siniestro\" }}",
        "options": {
          "systemMessage": "You are the GMM Autonomous Agent. Your goal is to process medical expense claims.\nWorkflow:\n1. Log start in ToolMonitor (Status: IN_PROGRESS, Evento: Agent activated).\n2. Extract data using ToolPDFProcessor.\n3. Register results in ToolDataRegister.\n4. Finalize with ToolZIPEmail.\n5. Log final result in ToolMonitor (Status: SUCCESS, Evento: Claim processed).\nAlways use the ticket_id, email, and nombre provided in the trigger."
        }
      },
      "id": "agent-id-1",
      "name": "AlAgenteGMM",
      "position": [
        264,
        208
      ],
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1
    },
    {
      "parameters": {
        "modelName": "models/gemini-1.5-flash-8b",
        "options": {}
      },
      "id": "gemini-id-1",
      "name": "ChatModelGemini",
      "position": [
        16,
        432
      ],
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "credentials": {
        "googlePalmApi": {
          "id": "aHikkrqv2jS0vioA",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.body.siniestroNum ?? $json.siniestroNum ?? $execution.id }}"
      },
      "id": "memory-id-1",
      "name": "MemoryGMM",
      "position": [
        144,
        432
      ],
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3
    },
    {
      "parameters": {
        "description": "Extracts data from medical bills. Use when a new claim starts. Input: {ticket_id, email, nombre}.",
        "workflowId": "M5yz5irHURXv0wl0"
      },
      "id": "tool-pdf-id-1",
      "name": "ToolPDFProcessor",
      "position": [
        528,
        432
      ],
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2
    },
    {
      "parameters": {
        "description": "Packages files and sends email. Call after successful data registration. Input: {ticket_id, email, nombre}.",
        "workflowId": "niTxNaK2iazIV6Ku"
      },
      "id": "tool-zip-id-1",
      "name": "ToolZIPEmail",
      "position": [
        656,
        432
      ],
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2
    },
    {
      "parameters": {
        "description": "Registers data in Google Sheets. Call after PDF extraction. Input: {ticket_id, email, nombre, data_extracted}.",
        "workflowId": "iWDi0Oizh4tpnihN"
      },
      "id": "tool-data-id-1",
      "name": "ToolDataRegister",
      "position": [
        272,
        432
      ],
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2
    },
    {
      "parameters": {
        "description": "Monitoring tool. Call it at the start, after each step, and at the end. Input: {ticket_id, email, nombre, status, evento}.",
        "workflowId": "Y0Ed5qmai3sDSbyi"
      },
      "id": "tool-monitor-id-1",
      "name": "ToolMonitor",
      "position": [
        400,
        432
      ],
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2
    }
  ],
  "connections": {
    "ChatModelGemini": {
      "ai_languageModel": [
        [
          {
            "index": 0,
            "node": "AlAgenteGMM",
            "type": "ai_languageModel"
          }
        ]
      ]
    },
    "ManualTrigger": {
      "main": [
        [
          {
            "index": 0,
            "node": "AlAgenteGMM",
            "type": "main"
          }
        ]
      ]
    },
    "MemoryGMM": {
      "ai_memory": [
        [
          {
            "index": 0,
            "node": "AlAgenteGMM",
            "type": "ai_memory"
          }
        ]
      ]
    },
    "ToolDataRegister": {
      "ai_tool": [
        [
          {
            "index": 0,
            "node": "AlAgenteGMM",
            "type": "ai_tool"
          }
        ]
      ]
    },
    "ToolMonitor": {
      "ai_tool": [
        [
          {
            "index": 0,
            "node": "AlAgenteGMM",
            "type": "ai_tool"
          }
        ]
      ]
    },
    "ToolPDFProcessor": {
      "ai_tool": [
        [
          {
            "index": 0,
            "node": "AlAgenteGMM",
            "type": "ai_tool"
          }
        ]
      ]
    },
    "ToolZIPEmail": {
      "ai_tool": [
        [
          {
            "index": 0,
            "node": "AlAgenteGMM",
            "type": "ai_tool"
          }
        ]
      ]
    },
    "WebhookTrigger": {
      "main": [
        [
          {
            "index": 0,
            "node": "AlAgenteGMM",
            "type": "main"
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveDataErrorExecution": "all",
    "saveDataSuccessExecution": "all",
    "saveManualExecutions": true,
    "saveExecutionProgress": true,
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false,
    "binaryMode": "separate"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "3c476cb1-e922-4c6e-9a0e-4e528b8955a0",
  "activeVersionId": "c00c0aa6-527c-4952-a81f-9498c06a0542",
  "versionCounter": 57,
  "triggerCount": 1,
  "shared": [
    {
      "updatedAt": "2026-03-28T01:05:07.358Z",
      "createdAt": "2026-03-28T01:05:07.358Z",
      "role": "workflow:owner",
      "workflowId": "eLPePdBS1utfjed0",
      "projectId": "XM6RyYxoVfaDMVrh",
      "project": {
        "updatedAt": "2026-03-07T01:51:00.726Z",
        "createdAt": "2026-03-07T01:41:52.722Z",
        "id": "XM6RyYxoVfaDMVrh",
        "name": "pedro soto <pash.mx@gmail.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "creatorId": "e2ce3a8c-1436-4b2a-a40d-af0a46612231"
      }
    }
  ],
  "tags": [],
  "activeVersion": {
    "updatedAt": "2026-03-29T17:43:36.237Z",
    "createdAt": "2026-03-29T17:43:36.237Z",
    "versionId": "c00c0aa6-527c-4952-a81f-9498c06a0542",
    "workflowId": "eLPePdBS1utfjed0",
    "nodes": [
      {
        "parameters": {
          "httpMethod": "POST",
          "path": "sgmm-new-request-modular",
          "options": {}
        },
        "id": "webhook-id-1",
        "name": "WebhookTrigger",
        "position": [
          -208,
          320
        ],
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 2.1,
        "webhookId": "eb4ec13f-63cd-4c61-aa47-0126cc6bf73b",
        "onError": "continueRegularOutput"
      },
      {
        "parameters": {},
        "id": "manual-id-1",
        "name": "ManualTrigger",
        "position": [
          -208,
          512
        ],
        "type": "n8n-nodes-base.manualTrigger",
        "typeVersion": 1
      },
      {
        "parameters": {
          "options": {
            "systemMessage": "You are the GMM Autonomous Agent. Your goal is to process medical expense claims.\nWorkflow:\n1. Log start in ToolMonitor (Status: IN_PROGRESS, Evento: Agent activated).\n2. Extract data using ToolPDFProcessor.\n3. Register results in ToolDataRegister.\n4. Finalize with ToolZIPEmail.\n5. Log final result in ToolMonitor (Status: SUCCESS, Evento: Claim processed).\nAlways use the ticket_id, email, and nombre provided in the trigger."
          },
          "promptType": "define",
          "text": "={{ $json.body.variables ?? $json.variables ?? \"Procesar siniestro\" }}"
        },
        "id": "agent-id-1",
        "name": "AlAgenteGMM",
        "position": [
          272,
          336
        ],
        "type": "@n8n/n8n-nodes-langchain.agent",
        "typeVersion": 3.1
      },
      {
        "parameters": {
          "modelName": "models/gemini-1.5-flash-8b",
          "options": {}
        },
        "id": "gemini-id-1",
        "name": "ChatModelGemini",
        "position": [
          16,
          736
        ],
        "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
        "typeVersion": 1,
        "credentials": {
          "googlePalmApi": {
            "id": "aHikkrqv2jS0vioA",
            "name": "Google Gemini(PaLM) Api account"
          }
        }
      },
      {
        "parameters": {
          "contextWindowLength": 5,
          "sessionIdType": "customKey",
          "sessionKey": "={{ $json.body.siniestroNum ?? $json.siniestroNum ?? $execution.id }}"
        },
        "id": "memory-id-1",
        "name": "MemoryGMM",
        "position": [
          -208,
          704
        ],
        "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
        "typeVersion": 1.3
      },
      {
        "parameters": {
          "description": "Extracts data from medical bills. Use when a new claim starts. Input: {ticket_id, email, nombre}.",
          "toolDescription": "Extracts data from medical bills. Use when a new claim starts. Input: {ticket_id, email, nombre}.",
          "workflowId": "M5yz5irHURXv0wl0"
        },
        "id": "tool-pdf-id-1",
        "name": "ToolPDFProcessor",
        "position": [
          -208,
          112
        ],
        "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
        "typeVersion": 2.2
      },
      {
        "parameters": {
          "description": "Packages files and sends email. Call after successful data registration. Input: {ticket_id, email, nombre}.",
          "toolDescription": "Packages files and sends email. Call after successful data registration. Input: {ticket_id, email, nombre}.",
          "workflowId": "niTxNaK2iazIV6Ku"
        },
        "id": "tool-zip-id-1",
        "name": "ToolZIPEmail",
        "position": [
          512,
          624
        ],
        "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
        "typeVersion": 2.2
      },
      {
        "parameters": {
          "description": "Registers data in Google Sheets. Call after PDF extraction. Input: {ticket_id, email, nombre, data_extracted}.",
          "toolDescription": "Registers data in Google Sheets. Call after PDF extraction. Input: {ticket_id, email, nombre, data_extracted}.",
          "workflowId": "iWDi0Oizh4tpnihN"
        },
        "id": "tool-data-id-1",
        "name": "ToolDataRegister",
        "position": [
          144,
          736
        ],
        "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
        "typeVersion": 2.2
      },
      {
        "parameters": {
          "description": "Monitoring tool. Call it at the start, after each step, and at the end. Input: {ticket_id, email, nombre, status, evento}.",
          "toolDescription": "Monitoring tool. Call it at the start, after each step, and at the end. Input: {ticket_id, email, nombre, status, evento}.",
          "workflowId": "Y0Ed5qmai3sDSbyi"
        },
        "id": "tool-monitor-id-1",
        "name": "ToolMonitor",
        "position": [
          272,
          736
        ],
        "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
        "typeVersion": 2.2
      }
    ],
    "connections": {
      "ChatModelGemini": {
        "ai_languageModel": [
          [
            {
              "index": 0,
              "node": "AlAgenteGMM",
              "type": "ai_languageModel"
            }
          ]
        ]
      },
      "ManualTrigger": {
        "main": [
          [
            {
              "index": 0,
              "node": "AlAgenteGMM",
              "type": "main"
            }
          ]
        ]
      },
      "MemoryGMM": {
        "ai_memory": [
          [
            {
              "index": 0,
              "node": "AlAgenteGMM",
              "type": "ai_memory"
            }
          ]
        ]
      },
      "ToolDataRegister": {
        "ai_tool": [
          [
            {
              "index": 0,
              "node": "AlAgenteGMM",
              "type": "ai_tool"
            }
          ]
        ]
      },
      "ToolMonitor": {
        "ai_tool": [
          [
            {
              "index": 0,
              "node": "AlAgenteGMM",
              "type": "ai_tool"
            }
          ]
        ]
      },
      "ToolPDFProcessor": {
        "ai_tool": [
          [
            {
              "index": 0,
              "node": "AlAgenteGMM",
              "type": "ai_tool"
            }
          ]
        ]
      },
      "ToolZIPEmail": {
        "ai_tool": [
          [
            {
              "index": 0,
              "node": "AlAgenteGMM",
              "type": "ai_tool"
            }
          ]
        ]
      },
      "WebhookTrigger": {
        "main": [
          [
            {
              "index": 0,
              "node": "AlAgenteGMM",
              "type": "main"
            }
          ]
        ]
      }
    },
    "authors": "pedro soto",
    "name": null,
    "description": null,
    "autosaved": false,
    "workflowPublishHistory": [
      {
        "createdAt": "2026-03-29T17:43:36.283Z",
        "id": 1180,
        "workflowId": "eLPePdBS1utfjed0",
        "versionId": "c00c0aa6-527c-4952-a81f-9498c06a0542",
        "event": "deactivated",
        "userId": "e2ce3a8c-1436-4b2a-a40d-af0a46612231"
      },
      {
        "createdAt": "2026-03-29T17:43:36.301Z",
        "id": 1181,
        "workflowId": "eLPePdBS1utfjed0",
        "versionId": "c00c0aa6-527c-4952-a81f-9498c06a0542",
        "event": "activated",
        "userId": "e2ce3a8c-1436-4b2a-a40d-af0a46612231"
      }
    ]
  }
}
