workflows/GMM-Agent-v2.json
{
  "name": "GMM-Agent-v2-Autonomous-Claude",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "options": {},
        "path": "gmm-new-request-prod",
        "responseMode": "responseNode"
      },
      "id": "d5c3d072-52f9-4f2e-81dc-ed626758be08",
      "name": "WebhookTrigger",
      "position": [
        -208,
        112
      ],
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "webhookId": "db40c9b2-6ae9-47bc-8494-86ce313e5d4e",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {},
      "id": "manual-id-1",
      "name": "ManualTrigger",
      "position": [
        16,
        304
      ],
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1
    },
    {
      "parameters": {
        "options": {
          "systemMessage": "Eres el agente autónomo de GMM. Tu objetivo es gestionar el registro y procesamiento de siniestros médicos.\nCuentas con herramientas para: register_siniestro, monitor_expediente, process_pdfs, zip_and_email."
        },
        "promptType": "define",
        "text": "=NUEVA SOLICITUD DE SINIESTRO RECIBIDA: {{ JSON.stringify($json.body) }}\n\nPor favor, inicia el registro y procesamiento correspondiente."
      },
      "id": "agent-id-1",
      "name": "AlAgenteGMM",
      "position": [
        496,
        208
      ],
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.body.metadata?.siniestroId ?? $json.body.ticket_id ?? $execution.id }}"
      },
      "id": "memory-id-1",
      "name": "MemoryGMM",
      "position": [
        368,
        432
      ],
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3
    },
    {
      "parameters": {
        "description": "Procesa los archivos PDF para extraer información médica y fiscal.",
        "workflowId": "M5yz5irHURXv0wl0",
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "jobId": "={{ $fromAI(\"jobId\", \"El ID del job de procesamiento\", \"string\") }}"
          }
        },
        "toolDescription": "Procesa los archivos PDF para extraer información médica y fiscal."
      },
      "id": "tool-pdf-id-1",
      "name": "ToolPDFProcessor",
      "position": [
        752,
        432
      ],
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2
    },
    {
      "parameters": {
        "description": "Genera el archivo ZIP final y envía el correo de confirmación.",
        "workflowId": "niTxNaK2iazIV6Ku",
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "siniestroId": "={{ $fromAI(\"siniestroId\", \"El ID del siniestro para el cual generar el paquete\", \"string\") }}"
          }
        },
        "toolDescription": "Genera el archivo ZIP final y envía el correo de confirmación."
      },
      "id": "tool-zip-id-1",
      "name": "ToolZIPEmail",
      "position": [
        880,
        432
      ],
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2
    },
    {
      "parameters": {
        "description": "Registra el siniestro en la base de datos de n8n y Google Sheets.",
        "workflowId": "iWDi0Oizh4tpnihN",
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "siniestroId": "={{ $fromAI(\"siniestroId\", \"El ID del siniestro si está disponible\", \"string\") }}"
          }
        },
        "toolDescription": "Registra el siniestro en la base de datos de n8n y Google Sheets."
      },
      "id": "tool-data-id-1",
      "name": "ToolDataRegister",
      "position": [
        496,
        432
      ],
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2
    },
    {
      "parameters": {
        "description": "Monitorea el estado del expediente y actualiza el dashboard.",
        "workflowId": "Y0Ed5qmai3sDSbyi",
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "jobId": "={{ $fromAI(\"jobId\", \"El ID del job a monitorear\", \"string\") }}"
          }
        },
        "toolDescription": "Monitorea el estado del expediente y actualiza el dashboard."
      },
      "id": "tool-monitor-id-1",
      "name": "ToolMonitor",
      "position": [
        624,
        432
      ],
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2
    },
    {
      "parameters": {
        "authentication": "none",
        "jsonBody": "={{ { jobId: $node[\"Set JobId\"].json.jobId, status: \"completed\", result: $json.output } }}",
        "jsonHeaders": "={ \"x-callback-secret\": \"gmm_prod_auth_k3y_2026_v1\" }",
        "method": "POST",
        "options": {},
        "sendBody": true,
        "sendHeaders": true,
        "specifyBody": "json",
        "specifyHeaders": "json",
        "url": "https://gmm.pash.uno/api/gmm-callback"
      },
      "id": "578563c5-5e5b-458a-bc74-91a74bfa0309",
      "name": "Callback Dashboard",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        1088,
        208
      ]
    },
    {
      "parameters": {},
      "id": "0d341dbb-0374-4002-8798-cf1d11f8167b",
      "name": "Error Trigger",
      "type": "n8n-nodes-base.errorTrigger",
      "typeVersion": 1,
      "position": [
        -208,
        544
      ]
    },
    {
      "parameters": {
        "authentication": "none",
        "jsonBody": "={{ { jobId: $node[\"Set JobId\"].json.jobId, status: \"error\", message: $json.message || \"Unknown Error\" } }}",
        "jsonHeaders": "={ \"x-callback-secret\": \"gmm_prod_auth_k3y_2026_v1\" }",
        "method": "POST",
        "options": {},
        "sendBody": true,
        "sendHeaders": true,
        "specifyBody": "json",
        "specifyHeaders": "json",
        "url": "https://gmm.pash.uno/api/gmm-callback"
      },
      "id": "11517bad-e1eb-4d35-8fa3-579a0132fd59",
      "name": "Callback Dashboard Error",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        16,
        544
      ]
    },
    {
      "parameters": {
        "model": "anthropic/claude-sonnet-4.5",
        "options": {}
      },
      "id": "openrouter-id-1",
      "name": "CLAUDE",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        240,
        432
      ],
      "credentials": {
        "openRouterApi": {
          "id": "xqgVyR8B4ckqJpvH",
          "name": "OpenRouter API Key"
        }
      }
    },
    {
      "id": "7f3c8d07-651a-4c6f-85a6-62ef0322b21e",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        144,
        160
      ],
      "parameters": {
        "options": {
          "responseCode": 200
        },
        "respondWith": "text",
        "responseBody": "={\"success\": true, \"jobId\": \"{{ $node[\\\"Set JobId\\\"].json.jobId }}\"}"
      }
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "jobId",
              "value": "={{ $node[\"WebhookTrigger\"].json.body.metadata?.jobId || $json.body.metadata?.jobId || $execution.id }}"
            }
          ]
        },
        "options": {}
      },
      "id": "set-jobid-id",
      "name": "Set JobId",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.2,
      "position": [
        -48,
        112
      ]
    }
  ],
  "connections": {
    "AlAgenteGMM": {
      "main": [
        [
          {
            "node": "Callback Dashboard",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ManualTrigger": {
      "main": [
        [
          {
            "index": 0,
            "node": "AlAgenteGMM",
            "type": "main"
          }
        ]
      ]
    },
    "MemoryGMM": {
      "ai_memory": [
        [
          {
            "index": 0,
            "node": "AlAgenteGMM",
            "type": "ai_memory"
          }
        ]
      ]
    },
    "ToolDataRegister": {
      "ai_tool": [
        [
          {
            "index": 0,
            "node": "AlAgenteGMM",
            "type": "ai_tool"
          }
        ]
      ]
    },
    "ToolMonitor": {
      "ai_tool": [
        [
          {
            "index": 0,
            "node": "AlAgenteGMM",
            "type": "ai_tool"
          }
        ]
      ]
    },
    "ToolPDFProcessor": {
      "ai_tool": [
        [
          {
            "index": 0,
            "node": "AlAgenteGMM",
            "type": "ai_tool"
          }
        ]
      ]
    },
    "ToolZIPEmail": {
      "ai_tool": [
        [
          {
            "index": 0,
            "node": "AlAgenteGMM",
            "type": "ai_tool"
          }
        ]
      ]
    },
    "Error Trigger": {
      "main": [
        [
          {
            "node": "Callback Dashboard Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "CLAUDE": {
      "ai_languageModel": [
        [
          {
            "node": "AlAgenteGMM",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "WebhookTrigger": {
      "main": [
        [
          {
            "node": "Set JobId",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set JobId": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Respond to Webhook": {
      "main": [
        [
          {
            "node": "AlAgenteGMM",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveDataErrorExecution": "all",
    "saveDataSuccessExecution": "all",
    "saveManualExecutions": true,
    "saveExecutionProgress": true
  }
}
