workflows/GMM-PDF-Processor-Agente-Auditado.json
{
  "updatedAt": "2026-03-30T17:12:15.075Z",
  "createdAt": "2026-03-15T23:26:50.322Z",
  "id": "M5yz5irHURXv0wl0",
  "name": "GMM-PDF-Processor-Agente-Auditado",
  "nodes": [
    {
      "id": "trigger-id-ocr-1",
      "name": "ExecuteWorkflowTrigger",
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "TICKET_ID"
            },
            {
              "name": "emailAsegurado"
            },
            {
              "name": "nombreAsegurado"
            }
          ]
        }
      },
      "position": [
        -208,
        464
      ],
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1
    },
    {
      "credentials": {
        "gmailOAuth2": {
          "id": "z7Kwj4yb0xDNh40G",
          "name": "Gmail account"
        }
      },
      "id": "gmail-search-id-101",
      "name": "Gmail-Search-Siniestro",
      "parameters": {
        "filters": {
          "q": "=subject:{{ $json.TICKET_ID }}"
        },
        "operation": "getAll"
      },
      "position": [
        240,
        160
      ],
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "webhookId": "4b2868f1-6b27-4394-8a60-bf160d3d023a"
    },
    {
      "credentials": {
        "gmailOAuth2": {
          "id": "z7Kwj4yb0xDNh40G",
          "name": "Gmail account"
        }
      },
      "id": "gmail-read-id-101",
      "name": "Read-Email-Attachments",
      "parameters": {
        "messageId": "={{ $json.id }}",
        "operation": "get"
      },
      "position": [
        464,
        160
      ],
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "webhookId": "8a2b49c0-cb62-4ab4-9c81-d5875b4d3e24"
    },
    {
      "id": "filter-pdf-id-101",
      "name": "Filter-PDFs",
      "parameters": {
        "conditions": {
          "combinator": "and",
          "conditions": [
            {
              "id": "filter-pdf-rule-1",
              "leftValue": "={{ $binary.data.fileExtension }}",
              "operator": {
                "operation": "equals",
                "type": "string"
              },
              "rightValue": "pdf"
            }
          ],
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          }
        },
        "options": {}
      },
      "position": [
        672,
        -256
      ],
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3
    },
    {
      "id": "agent-ocr-id-101",
      "name": "AlOCR",
      "parameters": {
        "options": {},
        "systemMessage": "Eres un auditor experto en Gastos Médicos Mayores (GMM) en México. Tu objetivo es procesar facturas (PDFs) y registros históricos para determinar la validez fiscal y médica de una reclamación. Utiliza las herramientas disponibles para verificar RFCs, cálculos aritméticos y consistencia médica. Responde siempre con un resumen claro del estatus de la auditoría."
      },
      "position": [
        1184,
        -256
      ],
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1
    },
    {
      "credentials": {
        "googlePalmApi": {
          "id": "aHikkrqv2jS0vioA",
          "name": "Google Gemini(PaLM) Api account"
        }
      },
      "id": "gemini-ocr-id-101",
      "name": "ChatModelOCR",
      "parameters": {
        "modelName": "models/gemini-1.5-flash-8b",
        "options": {}
      },
      "position": [
        800,
        -32
      ],
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1
    },
    {
      "credentials": {
        "googlePalmApi": {
          "id": "aHikkrqv2jS0vioA",
          "name": "Google Gemini(PaLM) Api account"
        }
      },
      "id": "gemini-embed-1",
      "name": "Gemini Embeddings",
      "parameters": {},
      "position": [
        816,
        336
      ],
      "type": "@n8n/n8n-nodes-langchain.embeddingsGoogleGemini",
      "typeVersion": 1
    },
    {
      "id": "pdf-loader-1",
      "name": "PDF Loader",
      "parameters": {
        "loader": "pdfLoader",
        "options": {}
      },
      "position": [
        1072,
        384
      ],
      "type": "@n8n/n8n-nodes-langchain.documentBinaryInputLoader",
      "typeVersion": 1
    },
    {
      "id": "tool-vector-store-1",
      "name": "PDF Search Tool",
      "parameters": {
        "description": "Searches previous GMM medical claims and audit history in the vector store. Useful for identifying recurring patterns, historical pricing, or previous audit results for the same insured person. Input should be a relevant question.",
        "name": "GMM_History_Search",
        "toolDescription": "Searches previous GMM medical claims and audit history in the vector store. Useful for identifying recurring patterns, historical pricing, or previous audit results for the same insured person."
      },
      "position": [
        1168,
        -32
      ],
      "type": "@n8n/n8n-nodes-langchain.toolVectorStore",
      "typeVersion": 1.1
    },
    {
      "id": "550cc60f-8d2e-4b82-9cc6-29fbf01d0944",
      "name": "Recursive Splitter 12%",
      "parameters": {
        "chunkOverlap": 120,
        "options": {}
      },
      "position": [
        944,
        576
      ],
      "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
      "typeVersion": 1
    },
    {
      "credentials": {
        "supabaseApi": {
          "id": "njJBaAWhnJXRK8EY",
          "name": "Supabase account"
        }
      },
      "id": "1a0e32c4-7d94-443c-85ca-3939932522e6",
      "name": "Supabase GMM Store",
      "parameters": {
        "options": {},
        "tableName": "gmm_embeddings"
      },
      "position": [
        976,
        144
      ],
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1.3
    },
    {
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "24IRatZIq46ZB5Ps",
          "name": "Google Drive account"
        }
      },
      "id": "drive-ingest-1",
      "name": "Search Siniestros Folder",
      "onError": "continueRegularOutput",
      "parameters": {
        "operation": "list",
        "q": "=mimeType = 'application/vnd.google-apps.folder' and name = '{{ $json.TICKET_ID }}'",
        "resource": "file",
        "useFilter": true
      },
      "position": [
        464,
        864
      ],
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3
    },
    {
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "24IRatZIq46ZB5Ps",
          "name": "Google Drive account"
        }
      },
      "id": "drive-list-pdf-1",
      "name": "List PDFs in Folder",
      "parameters": {
        "operation": "search"
      },
      "position": [
        688,
        768
      ],
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3
    },
    {
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "24IRatZIq46ZB5Ps",
          "name": "Google Drive account"
        }
      },
      "id": "drive-download-pdf-1",
      "name": "Download PDF Binary",
      "parameters": {
        "fileId": {
          "__rl": true,
          "value": "={{ $node[\"List PDFs in Folder\"].json.id }}",
          "mode": "expression"
        },
        "operation": "download",
        "options": {}
      },
      "position": [
        1248,
        768
      ],
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3
    },
    {
      "id": "auditor-fiscal-1",
      "name": "AuditorFiscal Tool",
      "parameters": {
        "jsCode": "// Auditor Fiscal: Validates RFC and math\nconst { rfc, subtotal, iva, total } = $input.item.json;\nconst rfcRegex = /^[A-Z&Ñ]{3,4}[0-9]{2}(0[1-9]|1[012])(0[1-9]|[12][0-9]|3[01])[A-Z0-9]{2}[0-9A]$/;\nconst isRfcValid = rfcRegex.test(rfc || '');\nconst isArithmeticValid = Math.abs(((subtotal || 0) + (iva || 0)) - (total || 0)) < 0.01;\nreturn { isRfcValid, isArithmeticValid, fiscal_status: isRfcValid && isArithmeticValid ? 'VALID' : 'INVALID' };",
        "language": "javascript",
        "name": "Mexican_Fiscal_Auditor",
        "toolDescription": "Validates Mexican RFC format and invoice arithmetic. Ensures (Subtotal + IVA = Total) matching typical medical receipt requirements."
      },
      "position": [
        944,
        -16
      ],
      "type": "@n8n/n8n-nodes-langchain.toolCode",
      "typeVersion": 1.3
    },
    {
      "id": "validador-medico-1",
      "name": "ValidadorMedico Tool",
      "parameters": {
        "jsCode": "// Validador Medico: Cross-check specialty vs procedure\nconst { procedure, specialty } = $input.item.json;\nconst isSurgery = (procedure || '').toLowerCase().includes('surgery');\nconst isSurgeon = (specialty || '').toLowerCase().includes('surgeon');\nconst isValid = (isSurgery && isSurgeon) || !isSurgery; // Simplified logic\nreturn { medical_valid: isValid, medical_status: isValid ? 'MATCH' : 'MISMATCH' };",
        "language": "javascript",
        "name": "Medical_Logic_Validator",
        "toolDescription": "Analyzes if the medical procedure matches the doctor's specialty. Cross-checks medical logic for GMM coverage."
      },
      "position": [
        1584,
        -32
      ],
      "type": "@n8n/n8n-nodes-langchain.toolCode",
      "typeVersion": 1.3
    },
    {
      "id": "resumen-generador-1",
      "name": "ResumenGenerador Tool",
      "parameters": {
        "jsCode": "// Resumen: Final audit decision\nconst items = $input.all();\nconst fiscal = items.find(i => i.json.fiscal_status)?.json.fiscal_status;\nconst medical = items.find(i => i.json.medical_status)?.json.medical_status;\nconst finalStatus = (fiscal === 'VALID' && medical === 'MATCH') ? 'APPROVED' : 'MANUAL_REVIEW_REQUIRED';\nreturn { finalStatus, auditDate: new Date().toISOString() };",
        "language": "javascript",
        "name": "Final_Audit_Summarizer",
        "toolDescription": "Compiles final audit status ('APPROVED' or 'MANUAL_REVIEW_REQUIRED') based on fiscal and medical results."
      },
      "position": [
        1456,
        -32
      ],
      "type": "@n8n/n8n-nodes-langchain.toolCode",
      "typeVersion": 1.3
    },
    {
      "id": "0ff3a2fc-de14-4d5d-a7fe-a6c3b2875243",
      "name": "Test-Webhook-GMM-Audit",
      "parameters": {
        "httpMethod": "POST",
        "options": {},
        "path": "test-audit-gmm"
      },
      "position": [
        16,
        1040
      ],
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "webhookId": "374cdb51-bbe6-4ce9-9e7a-e12ec90c9761"
    },
    {
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "24IRatZIq46ZB5Ps",
          "name": "Google Drive account"
        }
      },
      "id": "e847db23-bbc9-4775-800c-c28bd81b8e45",
      "name": "Find-Root-SGMM-Folder",
      "parameters": {
        "operation": "list",
        "q": "mimeType = 'application/vnd.google-apps.folder' and name = 'SGMM'",
        "resource": "file",
        "useFilter": true
      },
      "position": [
        240,
        656
      ],
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3
    },
    {
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "24IRatZIq46ZB5Ps",
          "name": "Google Drive account"
        }
      },
      "id": "0d108025-0d59-4f7d-acc7-364987c83ce6",
      "name": "Search-Siniestros-Folder-Precise",
      "parameters": {
        "operation": "list",
        "q": "=mimeType = 'application/vnd.google-apps.folder' and name = '{{ $json.TICKET_ID }}'",
        "resource": "file",
        "useFilter": true
      },
      "position": [
        464,
        656
      ],
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3
    },
    {
      "id": "b63fa03b-3ede-479f-8e6e-726f6e3a86bb",
      "name": "Trigger-DB-Setup",
      "parameters": {},
      "position": [
        -464,
        240
      ],
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1
    },
    {
      "credentials": {
        "supabaseApi": {
          "id": "njJBaAWhnJXRK8EY",
          "name": "Supabase account"
        }
      },
      "id": "bfb11d39-902e-418a-a851-0628fdccb420",
      "name": "Supabase-Check-Register",
      "parameters": {
        "operation": "getAll",
        "resource": "row",
        "tableId": "gmm_embeddings"
      },
      "position": [
        16,
        160
      ],
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1
    }
  ],
  "connections": {
    "AlOCR": {},
    "AuditorFiscal Tool": {
      "ai_tool": [
        [
          {
            "index": 0,
            "node": "AlOCR",
            "type": "ai_tool"
          }
        ]
      ]
    },
    "ChatModelOCR": {
      "ai_languageModel": [
        [
          {
            "node": "AlOCR",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "PDF Search Tool",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Download PDF Binary": {
      "main": [
        [
          {
            "index": 0,
            "node": "PDF Loader",
            "type": "main"
          }
        ]
      ]
    },
    "ExecuteWorkflowTrigger": {
      "main": [
        [
          {
            "index": 0,
            "node": "Gmail-Search-Siniestro",
            "type": "main"
          },
          {
            "index": 0,
            "node": "Search Siniestros Folder",
            "type": "main"
          },
          {
            "index": 0,
            "node": "Supabase-Check-Register",
            "type": "main"
          }
        ]
      ]
    },
    "Filter-PDFs": {
      "main": [
        [
          {
            "index": 0,
            "node": "AlOCR",
            "type": "main"
          }
        ],
        []
      ]
    },
    "Find-Root-SGMM-Folder": {
      "main": [
        [
          {
            "index": 0,
            "node": "Search-Siniestros-Folder-Precise",
            "type": "main"
          }
        ]
      ]
    },
    "Gemini Embeddings": {
      "ai_embedding": [
        [
          {
            "index": 0,
            "node": "Supabase GMM Store",
            "type": "ai_embedding"
          }
        ]
      ]
    },
    "Gmail-Search-Siniestro": {
      "main": [
        [
          {
            "index": 0,
            "node": "Read-Email-Attachments",
            "type": "main"
          }
        ]
      ]
    },
    "List PDFs in Folder": {
      "main": [
        [
          {
            "index": 0,
            "node": "Download PDF Binary",
            "type": "main"
          }
        ]
      ]
    },
    "PDF Loader": {
      "ai_document": [
        [
          {
            "index": 0,
            "node": "Supabase GMM Store",
            "type": "ai_document"
          }
        ]
      ]
    },
    "PDF Search Tool": {
      "ai_tool": [
        [
          {
            "index": 0,
            "node": "AlOCR",
            "type": "ai_tool"
          }
        ]
      ]
    },
    "Read-Email-Attachments": {
      "main": [
        [
          {
            "index": 0,
            "node": "Filter-PDFs",
            "type": "main"
          }
        ]
      ]
    },
    "Recursive Splitter 12%": {
      "ai_textSplitter": [
        [
          {
            "index": 0,
            "node": "PDF Loader",
            "type": "ai_textSplitter"
          }
        ]
      ]
    },
    "ResumenGenerador Tool": {
      "ai_tool": [
        [
          {
            "index": 0,
            "node": "AlOCR",
            "type": "ai_tool"
          }
        ]
      ]
    },
    "Search Siniestros Folder": {
      "main": [
        [
          {
            "index": 0,
            "node": "List PDFs in Folder",
            "type": "main"
          }
        ]
      ]
    },
    "Search-Siniestros-Folder-Precise": {
      "main": [
        [
          {
            "index": 0,
            "node": "List PDFs in Folder",
            "type": "main"
          }
        ]
      ]
    },
    "Supabase GMM Store": {
      "ai_vectorStore": [
        [
          {
            "index": 0,
            "node": "PDF Search Tool",
            "type": "ai_vectorStore"
          }
        ]
      ]
    },
    "Supabase-Check-Register": {
      "main": [
        [
          {
            "index": 0,
            "node": "Gmail-Search-Siniestro",
            "type": "main"
          },
          {
            "index": 0,
            "node": "Find-Root-SGMM-Folder",
            "type": "main"
          }
        ]
      ]
    },
    "Test-Webhook-GMM-Audit": {
      "main": [
        [
          {
            "index": 0,
            "node": "Find-Root-SGMM-Folder",
            "type": "main"
          },
          {
            "index": 0,
            "node": "Gmail-Search-Siniestro",
            "type": "main"
          }
        ]
      ]
    },
    "Trigger-DB-Setup": {
      "main": [
        [
          {
            "index": 0,
            "node": "Supabase-Check-Register",
            "type": "main"
          }
        ]
      ]
    },
    "ValidadorMedico Tool": {
      "ai_tool": [
        [
          {
            "index": 0,
            "node": "AlOCR",
            "type": "ai_tool"
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveDataErrorExecution": "all",
    "saveDataSuccessExecution": "all",
    "saveManualExecutions": true,
    "saveExecutionProgress": true,
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false,
    "binaryMode": "separate"
  },
  "staticData": null,
  "meta": null,
  "pinData": {},
  "versionId": "3aec7a3d-4641-4b04-83d9-448b184bc1ea",
  "activeVersionId": null,
  "versionCounter": 223,
  "triggerCount": 1
}