backups/workflows/GMM-PDF-Processor-Agente-Auditado.json
{
  "name": "GMM-PDF-Processor-Agente-Auditado",
  "nodes": [
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "TICKET_ID"
            },
            {
              "name": "emailAsegurado"
            },
            {
              "name": "nombreAsegurado"
            }
          ]
        }
      },
      "id": "trigger-id-ocr-1",
      "name": "ExecuteWorkflowTrigger",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [100, 100]
    },
    {
      "parameters": {
        "operation": "getAll",
        "resource": "message",
        "filters": {
          "q": "subject:{{ $json.TICKET_ID }}"
        }
      },
      "id": "gmail-search-id-101",
      "name": "Gmail-Search-Siniestro",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [300, 100],
      "credentials": {
        "gmailOAuth2": {
          "id": "z7Kwj4yb0xDNh40G",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "operation": "get",
        "resource": "message",
        "messageId": "={{ $json.id }}",
        "downloadAttachments": true
      },
      "id": "gmail-read-id-101",
      "name": "Read-Email-Attachments",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [500, 100],
      "credentials": {
        "gmailOAuth2": {
          "id": "z7Kwj4yb0xDNh40G",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "leftValue": "={{ $binary.data.fileExtension }}",
              "operator": "equal",
              "rightValue": "pdf"
            }
          ]
        }
      },
      "id": "filter-pdf-id-101",
      "name": "Filter-PDFs",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [700, 100]
    },
    {
      "parameters": {
        "options": {
          "systemMessage": "You are an OCR expert. Extract structured information from the provided medical bill PDFs.\nFields required:\n- hospital_name\n- patient_name\n- date_issued\n- total_amount\n- currency\n- tax_id (RFC)\nReturn ONLY a valid JSON object."
        }
      },
      "id": "agent-ocr-id-101",
      "name": "AlOCR",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [900, 100]
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.5-flash",
        "options": {}
      },
      "id": "gemini-ocr-id-101",
      "name": "ChatModelOCR",
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [900, 300],
      "credentials": {
        "googlePalmApi": {
          "id": "aHikkrqv2jS0vioA",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    }
  ],
  "connections": {
    "ExecuteWorkflowTrigger": {
      "main": [
        [
          {
            "node": "Gmail-Search-Siniestro",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gmail-Search-Siniestro": {
      "main": [
        [
          {
            "node": "Read-Email-Attachments",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read-Email-Attachments": {
      "main": [
        [
          {
            "node": "Filter-PDFs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter-PDFs": {
      "main": [
        [
          {
            "node": "AlOCR",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ChatModelOCR": {
      "ai_languageModel": [
        [
          {
            "node": "AlOCR",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  }
}
