scratch/current_v8.json
{"name": "GMM-Alert-Orchestrator-Retro-PRO", "nodes": [{"parameters": {"httpMethod": "POST", "path": "grafana-alert", "options": {}}, "name": "Webhook", "type": "n8n-nodes-base.webhook", "typeVersion": 1, "position": [100, 300], "webhookId": "gmm-alerts-retro", "id": "521c24e1-5abf-49bf-a092-c172fe628e09"}, {"parameters": {"jsCode": "\nconst labels = $json.labels || {};\nconst tramite_id = labels.tramite_id;\nconst BOT_URL = 'https://api.telegram.org/bot8705940775:AAHerniPvRYDPvT5no8gOforle2DcaJzF4w/sendMessage';\nconst CHAT_ID = '7670748437';\n\nif (!tramite_id) {\n    await axios.post(BOT_URL, { chat_id: CHAT_ID, text: '\u26a0\ufe0f DEBUG: No tramite_id in payload' });\n    return { should_retry: false, message: 'No tramite_id' };\n}\n\ntry {\n    const response = await axios.post('https://supabase.pash.uno/rest/v1/rpc/handle_tramite_retry_pro', {\n        p_tramite_id: tramite_id,\n        p_max_retries: 3\n    }, {\n        headers: {\n            'apikey': 'eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpYXQiOjE3NzI3NTA5OTIsImV4cCI6MTg5MzQ1NjAwMCwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlzcyI6InN1cGFiYXNlIn0.arBCFrktA-kgkyz8ASjPbrs-FduxAQOHrA4bqes7Jbo',\n            'Authorization': 'Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpYXQiOjE3NzI3NTA5OTIsImV4cCI6MTg5MzQ1NjAwMCwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlzcyI6InN1cGFiYXNlIn0.arBCFrktA-kgkyz8ASjPbrs-FduxAQOHrA4bqes7Jbo',\n            'Content-Type': 'application/json'\n        },\n        timeout: 5000\n    });\n    \n    const result = response.data[0];\n    \n    // MODO DEBUG: Forzamos env\u00edo a Telegram siempre\n    return {\n        should_retry: false, \n        message: 'DEBUG FORZADO: ' + result.out_message,\n        current_retry_count: result.out_current_retry_count,\n        tramite_id: tramite_id\n    };\n\n} catch (error) {\n    const errorDetail = error.response ? JSON.stringify(error.response.data) : error.message;\n    await axios.post(BOT_URL, { \n        chat_id: CHAT_ID, \n        text: '\u274c DEBUG SENSOR: Error al llamar a Supabase\\n' + errorDetail \n    });\n    return { should_retry: false, message: 'Error en RPC', tramite_id: tramite_id };\n}\n"}, "name": "Smart Logic V7", "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [350, 300], "id": "eb089fa9-b564-4cd7-b91f-1d02f8ef0ba9"}, {"parameters": {"conditions": {"boolean": [{"value1": "={{ Boolean($json[\"should_retry\"]) }}", "value2": true}]}}, "name": "Decision", "type": "n8n-nodes-base.if", "typeVersion": 1, "position": [600, 300], "id": "685314cb-4397-457b-bcfd-53b6dec4a772"}, {"parameters": {"url": "http://ocr-engine/process", "method": "POST", "sendBody": true, "bodyParametersUi": {"parameter": [{"name": "tramite_id", "value": "={{ $node[\"Smart Logic V7\"].json[\"tramite_id\"] }}"}, {"name": "source", "value": "retry"}]}}, "name": "OCR Retry", "type": "n8n-nodes-base.httpRequest", "typeVersion": 4.1, "position": [850, 200], "id": "5f6b6389-a539-4cdd-a74e-217d298a0fdd"}, {"parameters": {"url": "https://api.telegram.org/bot8705940775:AAHerniPvRYDPvT5no8gOforle2DcaJzF4w/sendMessage", "method": "POST", "sendBody": true, "bodyParametersUi": {"parameter": [{"name": "chat_id", "value": "7670748437"}, {"name": "parse_mode", "value": "Markdown"}, {"name": "text", "value": "=\ud83d\udea8 *FALLO DEFINITIVO: GMM*\\n*Tr\u00e1mite:* `{{ $node[\"Smart Logic V7\"].json[\"tramite_id\"] }}`\\n*Mensaje:* `{{ $node[\"Smart Logic V7\"].json[\"message\"] }}`\\n*Intento Final:* `{{ $node[\"Smart Logic V7\"].json[\"current_retry_count\"] }}/3`\\n\u274c No se pudo auto-recuperar."}]}}, "name": "Telegram", "type": "n8n-nodes-base.httpRequest", "typeVersion": 4.1, "position": [950, 400], "id": "f586047c-9d4a-4d80-b74e-92660f488cc4"}, {"parameters": {"tableId": "alerts_log", "continueOnFail": true, "mappingMode": "defineBelow", "value": {"mappingMode": "defineBelow", "value": {"tramite_id": "={{ $node[\"Smart Logic V7\"].json[\"tramite_id\"] }}", "step": "OCR", "action": "escalate", "retry_attempt": "={{ $node[\"Smart Logic V7\"].json[\"current_retry_count\"] }}", "reason": "={{ $node[\"Smart Logic V7\"].json[\"message\"] }}"}}}, "name": "Audit Log", "type": "n8n-nodes-base.supabase", "typeVersion": 1, "position": [1100, 300], "credentials": {"supabaseApi": {"id": "njJBaAWhnJXRK8EY", "name": "Supabase account"}}, "id": "36d8d8c6-e6ea-41e6-8031-c54132fe9964"}, {"parameters": {"options": {}, "values": {"boolean": [{"name": "reached_failure_path", "value": true}]}}, "id": "debug-pre-telegram-id", "name": "Debug-Pre-Telegram", "type": "n8n-nodes-base.set", "typeVersion": 3.2, "position": [750, 400]}], "connections": {"Webhook": {"main": [[{"node": "Smart Logic V7", "type": "main", "index": 0}]]}, "Smart Logic V7": {"main": [[{"node": "Decision", "type": "main", "index": 0}]]}, "Decision": {"main": [[{"node": "OCR Retry", "type": "main", "index": 0}], [{"node": "Debug-Pre-Telegram", "type": "main", "index": 0}]]}, "OCR Retry": {"main": [[{"node": "Audit Log", "type": "main", "index": 0}]]}, "Telegram": {"main": [[{"node": "Audit Log", "type": "main", "index": 0}]]}, "Debug-Pre-Telegram": {"main": [[{"node": "Telegram", "type": "main", "index": 0}]]}}, "settings": {"executionOrder": "v1", "saveExecutionProgress": true}}