scratch/debug_wf_live.json
{"updatedAt":"2026-04-11T23:04:51.627Z","createdAt":"2026-04-11T23:04:51.627Z","id":"kwWSHdpRwWLs3th2","name":"GMM-Debug-Connectivity-Test","description":null,"active":true,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"gmm-debug-test","responseMode":"responseNode","options":{}},"id":"webhook-debug-001","name":"Webhook","type":"n8n-nodes-base.webhook","typeVersion":1,"position":[100,300],"webhookId":"3c91e63a-f730-45e9-ac32-0d47aedd3feb"},{"parameters":{"url":"https://api.telegram.org/bot8705940775:AAHerniPvRYDPvT5no8gOforle2DcaJzF4w/sendMessage","method":"POST","sendBody":true,"bodyParametersUi":{"parameter":[{"name":"chat_id","value":"7670748437"},{"name":"text","value":"🔥 TEST NUCLEAR GMM: n8n puede hablar con Telegram ✅"}]},"options":{}},"id":"telegram-debug-002","name":"Telegram-Test","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[350,300],"continueOnFail":true},{"parameters":{"respondWith":"json","responseBody":"={{ JSON.stringify({telegram_result: $json, success: $json.ok}) }}","options":{}},"id":"respond-debug-003","name":"RespondToWebhook","type":"n8n-nodes-base.respondToWebhook","typeVersion":1,"position":[600,300]}],"connections":{"Webhook":{"main":[[{"node":"Telegram-Test","type":"main","index":0}]]},"Telegram-Test":{"main":[[{"node":"RespondToWebhook","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","callerPolicy":"workflowsFromSameOwner","availableInMCP":false},"staticData":null,"meta":null,"pinData":null,"versionId":"97fcc81f-01b4-47bf-8c59-4d52c1d53bdf","activeVersionId":"97fcc81f-01b4-47bf-8c59-4d52c1d53bdf","versionCounter":3,"triggerCount":1,"shared":[{"updatedAt":"2026-04-11T23:04:51.627Z","createdAt":"2026-04-11T23:04:51.627Z","role":"workflow:owner","workflowId":"kwWSHdpRwWLs3th2","projectId":"XM6RyYxoVfaDMVrh","project":{"updatedAt":"2026-03-07T01:51:00.726Z","createdAt":"2026-03-07T01:41:52.722Z","id":"XM6RyYxoVfaDMVrh","name":"pedro soto <pash.mx@gmail.com>","type":"personal","icon":null,"description":null,"creatorId":"e2ce3a8c-1436-4b2a-a40d-af0a46612231"}}],"tags":[],"activeVersion":{"updatedAt":"2026-04-11T23:06:29.181Z","createdAt":"2026-04-11T23:04:51.661Z","versionId":"97fcc81f-01b4-47bf-8c59-4d52c1d53bdf","workflowId":"kwWSHdpRwWLs3th2","nodes":[{"parameters":{"httpMethod":"POST","path":"gmm-debug-test","responseMode":"responseNode","options":{}},"id":"webhook-debug-001","name":"Webhook","type":"n8n-nodes-base.webhook","typeVersion":1,"position":[100,300],"webhookId":"3c91e63a-f730-45e9-ac32-0d47aedd3feb"},{"parameters":{"url":"https://api.telegram.org/bot8705940775:AAHerniPvRYDPvT5no8gOforle2DcaJzF4w/sendMessage","method":"POST","sendBody":true,"bodyParametersUi":{"parameter":[{"name":"chat_id","value":"7670748437"},{"name":"text","value":"🔥 TEST NUCLEAR GMM: n8n puede hablar con Telegram ✅"}]},"options":{}},"id":"telegram-debug-002","name":"Telegram-Test","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[350,300],"continueOnFail":true},{"parameters":{"respondWith":"json","responseBody":"={{ JSON.stringify({telegram_result: $json, success: $json.ok}) }}","options":{}},"id":"respond-debug-003","name":"RespondToWebhook","type":"n8n-nodes-base.respondToWebhook","typeVersion":1,"position":[600,300]}],"connections":{"Webhook":{"main":[[{"node":"Telegram-Test","type":"main","index":0}]]},"Telegram-Test":{"main":[[{"node":"RespondToWebhook","type":"main","index":0}]]}},"authors":"pedro soto","name":"Version 97fcc81f","description":"","autosaved":false,"workflowPublishHistory":[{"createdAt":"2026-04-11T23:06:29.175Z","id":1608,"workflowId":"kwWSHdpRwWLs3th2","versionId":"97fcc81f-01b4-47bf-8c59-4d52c1d53bdf","event":"activated","userId":"e2ce3a8c-1436-4b2a-a40d-af0a46612231"}]}}