scratch/debug_wf_patched.json
{"name": "GMM-Debug-Connectivity-Test", "nodes": [{"parameters": {"httpMethod": "POST", "path": "gmm-debug-test", "responseMode": "responseNode", "options": {}}, "id": "webhook-debug-001", "name": "Webhook", "type": "n8n-nodes-base.webhook", "typeVersion": 1, "position": [100, 300], "webhookId": "3c91e63a-f730-45e9-ac32-0d47aedd3feb"}, {"parameters": {"url": "https://api.telegram.org/bot8705940775:AAHerniPvRYDPvT5no8gOforle2DcaJzF4w/sendMessage", "method": "POST", "sendBody": true, "contentType": "json", "specifyBody": "json", "jsonBody": "{\"chat_id\": \"7670748437\", \"text\": \"\ud83d\udd25 TEST NUCLEAR GMM: Red n8n \u2192 Telegram FUNCIONA \u2705 Misi\u00f3n cumplida\"}", "options": {}}, "id": "telegram-debug-002", "name": "Telegram-Test", "type": "n8n-nodes-base.httpRequest", "typeVersion": 4.1, "position": [350, 300], "continueOnFail": true}, {"parameters": {"respondWith": "json", "responseBody": "={{ JSON.stringify({telegram_result: $json, success: $json.ok}) }}", "options": {}}, "id": "respond-debug-003", "name": "RespondToWebhook", "type": "n8n-nodes-base.respondToWebhook", "typeVersion": 1, "position": [600, 300]}], "connections": {"Webhook": {"main": [[{"node": "Telegram-Test", "type": "main", "index": 0}]]}, "Telegram-Test": {"main": [[{"node": "RespondToWebhook", "type": "main", "index": 0}]]}}, "settings": {"executionOrder": "v1"}}