scratch/live_debug.json
{"updatedAt":"2026-04-11T20:53:20.741Z","createdAt":"2026-04-09T17:23:57.074Z","id":"QsKj2y8blszMMlpb","name":"GMM-Alert-Orchestrator-Retro-PRO","description":null,"active":true,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"grafana-alert","options":{}},"name":"Webhook","type":"n8n-nodes-base.webhook","typeVersion":1,"position":[100,300],"webhookId":"gmm-alerts-retro","id":"521c24e1-5abf-49bf-a092-c172fe628e09"},{"parameters":{"jsCode":"\nconst labels = $json.labels || {};\nconst tramite_id = labels.tramite_id;\n\nif (!tramite_id) {\n    return { should_retry: false, message: 'No tramite_id found in labels' };\n}\n\ntry {\n    const response = await axios.post('https://supabase.pash.uno/rest/v1/rpc/handle_tramite_retry_pro', {\n        p_tramite_id: tramite_id,\n        p_max_retries: 3\n    }, {\n        headers: {\n            'apikey': 'eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpYXQiOjE3NzI3NTA5OTIsImV4cCI6MTg5MzQ1NjAwMCwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlzcyI6InN1cGFiYXNlIn0.arBCFrktA-kgkyz8ASjPbrs-FduxAQOHrA4bqes7Jbo',\n            'Authorization': 'Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpYXQiOjE3NzI3NTA5OTIsImV4cCI6MTg5MzQ1NjAwMCwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlzcyI6InN1cGFiYXNlIn0.arBCFrktA-kgkyz8ASjPbrs-FduxAQOHrA4bqes7Jbo',\n            'Content-Type': 'application/json'\n        }\n    });\n    \n    // Result is an array\n    const result = response.data[0];\n    \n    return {\n        should_retry: result.out_should_retry,\n        message: result.out_message,\n        current_retry_count: result.out_current_retry_count,\n        next_retry_at: result.out_next_retry_at,\n        circuit_state: result.out_circuit_state,\n        tramite_id: tramite_id,\n        step: labels.step || 'unknown',\n        raw_payload: $json\n    };\n} catch (error) {\n    return {\n        should_retry: false,\n        message: 'RPC Error: ' + (error.response?.data?.message || error.message),\n        tramite_id: tramite_id,\n        raw_payload: $json\n    };\n}\n"},"name":"Smart Logic V7","type":"n8n-nodes-base.code","typeVersion":2,"position":[350,300],"id":"eb089fa9-b564-4cd7-b91f-1d02f8ef0ba9"},{"parameters":{"conditions":{"boolean":[{"value1":"={{ $json[\"should_retry\"] }}","value2":true}]}},"name":"Decision","type":"n8n-nodes-base.if","typeVersion":1,"position":[600,300],"id":"685314cb-4397-457b-bcfd-53b6dec4a772"},{"parameters":{"url":"http://ocr-engine/process","method":"POST","sendBody":true,"bodyParametersUi":{"parameter":[{"name":"tramite_id","value":"={{ $node[\"Smart Logic V7\"].json[\"tramite_id\"] }}"},{"name":"source","value":"retry"}]}},"name":"OCR Retry","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[850,200],"id":"5f6b6389-a539-4cdd-a74e-217d298a0fdd"},{"parameters":{"url":"https://api.telegram.org/bot8705940775:AAHerniPvRYDPvT5no8gOforle2DcaJzF4w/sendMessage","method":"POST","sendBody":true,"bodyParametersUi":{"parameter":[{"name":"chat_id","value":"7670748437"},{"name":"parse_mode","value":"Markdown"},{"name":"text","value":"=🚨 *FALLO DEFINITIVO: GMM*\\n*Trámite:* `{{ $node[\"Smart Logic V7\"].json[\"tramite_id\"] }}`\\n*Estado:* `{{ $json[\"message\"] }}`\\n*Intento:* `{{ $json[\"current_retry_count\"] }}/3`\\n❌ No se pudo auto-recuperar."}]}},"name":"Telegram","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[950,400],"id":"f586047c-9d4a-4d80-b74e-92660f488cc4"},{"parameters":{"tableId":"alerts_log","continueOnFail":true,"mappingMode":"defineBelow","value":{"mappingMode":"defineBelow","value":{"tramite_id":"={{ $node[\"Smart Logic V7\"].json[\"tramite_id\"] }}","step":"OCR","action":"escalate","retry_attempt":"={{ $node[\"Smart Logic V7\"].json[\"current_retry_count\"] }}","reason":"={{ $node[\"Smart Logic V7\"].json[\"message\"] }}"}}},"name":"Audit Log","type":"n8n-nodes-base.supabase","typeVersion":1,"position":[1100,300],"credentials":{"supabaseApi":{"id":"njJBaAWhnJXRK8EY","name":"Supabase account"}},"id":"36d8d8c6-e6ea-41e6-8031-c54132fe9964"},{"parameters":{"options":{},"values":{"string":[{"name":"debug_status","value":"llegue_a_telegram_ok"}]}},"id":"debug-pre-telegram-id","name":"Debug-Pre-Telegram","type":"n8n-nodes-base.set","typeVersion":3.2,"position":[750,400]}],"connections":{"Webhook":{"main":[[{"node":"Smart Logic V7","type":"main","index":0}]]},"Smart Logic V7":{"main":[[{"node":"Decision","type":"main","index":0}]]},"Decision":{"main":[[{"node":"OCR Retry","type":"main","index":0}],[{"node":"Debug-Pre-Telegram","type":"main","index":0}]]},"OCR Retry":{"main":[[{"node":"Audit Log","type":"main","index":0}]]},"Telegram":{"main":[[{"node":"Audit Log","type":"main","index":0}]]},"Debug-Pre-Telegram":{"main":[[{"node":"Telegram","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","binaryMode":"separate","callerPolicy":"workflowsFromSameOwner","availableInMCP":false,"saveExecutionProgress":true,"saveManualExecutions":true},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"963d4a90-c32e-429e-9183-42a519a31d6d","activeVersionId":"963d4a90-c32e-429e-9183-42a519a31d6d","versionCounter":52,"triggerCount":1,"shared":[{"updatedAt":"2026-04-09T17:23:57.074Z","createdAt":"2026-04-09T17:23:57.074Z","role":"workflow:owner","workflowId":"QsKj2y8blszMMlpb","projectId":"XM6RyYxoVfaDMVrh","project":{"updatedAt":"2026-03-07T01:51:00.726Z","createdAt":"2026-03-07T01:41:52.722Z","id":"XM6RyYxoVfaDMVrh","name":"pedro soto <pash.mx@gmail.com>","type":"personal","icon":null,"description":null,"creatorId":"e2ce3a8c-1436-4b2a-a40d-af0a46612231"}}],"tags":[],"activeVersion":{"updatedAt":"2026-04-11T20:53:20.744Z","createdAt":"2026-04-11T20:53:20.744Z","versionId":"963d4a90-c32e-429e-9183-42a519a31d6d","workflowId":"QsKj2y8blszMMlpb","nodes":[{"parameters":{"httpMethod":"POST","path":"grafana-alert","options":{}},"name":"Webhook","type":"n8n-nodes-base.webhook","typeVersion":1,"position":[100,300],"webhookId":"gmm-alerts-retro","id":"521c24e1-5abf-49bf-a092-c172fe628e09"},{"parameters":{"jsCode":"\nconst labels = $json.labels || {};\nconst tramite_id = labels.tramite_id;\n\nif (!tramite_id) {\n    return { should_retry: false, message: 'No tramite_id found in labels' };\n}\n\ntry {\n    const response = await axios.post('https://supabase.pash.uno/rest/v1/rpc/handle_tramite_retry_pro', {\n        p_tramite_id: tramite_id,\n        p_max_retries: 3\n    }, {\n        headers: {\n            'apikey': 'eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpYXQiOjE3NzI3NTA5OTIsImV4cCI6MTg5MzQ1NjAwMCwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlzcyI6InN1cGFiYXNlIn0.arBCFrktA-kgkyz8ASjPbrs-FduxAQOHrA4bqes7Jbo',\n            'Authorization': 'Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpYXQiOjE3NzI3NTA5OTIsImV4cCI6MTg5MzQ1NjAwMCwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlzcyI6InN1cGFiYXNlIn0.arBCFrktA-kgkyz8ASjPbrs-FduxAQOHrA4bqes7Jbo',\n            'Content-Type': 'application/json'\n        }\n    });\n    \n    // Result is an array\n    const result = response.data[0];\n    \n    return {\n        should_retry: result.out_should_retry,\n        message: result.out_message,\n        current_retry_count: result.out_current_retry_count,\n        next_retry_at: result.out_next_retry_at,\n        circuit_state: result.out_circuit_state,\n        tramite_id: tramite_id,\n        step: labels.step || 'unknown',\n        raw_payload: $json\n    };\n} catch (error) {\n    return {\n        should_retry: false,\n        message: 'RPC Error: ' + (error.response?.data?.message || error.message),\n        tramite_id: tramite_id,\n        raw_payload: $json\n    };\n}\n"},"name":"Smart Logic V7","type":"n8n-nodes-base.code","typeVersion":2,"position":[350,300],"id":"eb089fa9-b564-4cd7-b91f-1d02f8ef0ba9"},{"parameters":{"conditions":{"boolean":[{"value1":"={{ $json[\"should_retry\"] }}","value2":true}]}},"name":"Decision","type":"n8n-nodes-base.if","typeVersion":1,"position":[600,300],"id":"685314cb-4397-457b-bcfd-53b6dec4a772"},{"parameters":{"url":"http://ocr-engine/process","method":"POST","sendBody":true,"bodyParametersUi":{"parameter":[{"name":"tramite_id","value":"={{ $node[\"Smart Logic V7\"].json[\"tramite_id\"] }}"},{"name":"source","value":"retry"}]}},"name":"OCR Retry","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[850,200],"id":"5f6b6389-a539-4cdd-a74e-217d298a0fdd"},{"parameters":{"url":"https://api.telegram.org/bot8705940775:AAHerniPvRYDPvT5no8gOforle2DcaJzF4w/sendMessage","method":"POST","sendBody":true,"bodyParametersUi":{"parameter":[{"name":"chat_id","value":"7670748437"},{"name":"parse_mode","value":"Markdown"},{"name":"text","value":"=🚨 *FALLO DEFINITIVO: GMM*\\n*Trámite:* `{{ $node[\"Smart Logic V7\"].json[\"tramite_id\"] }}`\\n*Estado:* `{{ $json[\"message\"] }}`\\n*Intento:* `{{ $json[\"current_retry_count\"] }}/3`\\n❌ No se pudo auto-recuperar."}]}},"name":"Telegram","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[950,400],"id":"f586047c-9d4a-4d80-b74e-92660f488cc4"},{"parameters":{"tableId":"alerts_log","continueOnFail":true,"mappingMode":"defineBelow","value":{"mappingMode":"defineBelow","value":{"tramite_id":"={{ $node[\"Smart Logic V7\"].json[\"tramite_id\"] }}","step":"OCR","action":"escalate","retry_attempt":"={{ $node[\"Smart Logic V7\"].json[\"current_retry_count\"] }}","reason":"={{ $node[\"Smart Logic V7\"].json[\"message\"] }}"}}},"name":"Audit Log","type":"n8n-nodes-base.supabase","typeVersion":1,"position":[1100,300],"credentials":{"supabaseApi":{"id":"njJBaAWhnJXRK8EY","name":"Supabase account"}},"id":"36d8d8c6-e6ea-41e6-8031-c54132fe9964"},{"parameters":{"options":{},"values":{"string":[{"name":"debug_status","value":"llegue_a_telegram_ok"}]}},"id":"debug-pre-telegram-id","name":"Debug-Pre-Telegram","type":"n8n-nodes-base.set","typeVersion":3.2,"position":[750,400]}],"connections":{"Webhook":{"main":[[{"node":"Smart Logic V7","type":"main","index":0}]]},"Smart Logic V7":{"main":[[{"node":"Decision","type":"main","index":0}]]},"Decision":{"main":[[{"node":"OCR Retry","type":"main","index":0}],[{"node":"Debug-Pre-Telegram","type":"main","index":0}]]},"OCR Retry":{"main":[[{"node":"Audit Log","type":"main","index":0}]]},"Telegram":{"main":[[{"node":"Audit Log","type":"main","index":0}]]},"Debug-Pre-Telegram":{"main":[[{"node":"Telegram","type":"main","index":0}]]}},"authors":"pedro soto","name":null,"description":null,"autosaved":false,"workflowPublishHistory":[{"createdAt":"2026-04-11T20:53:20.851Z","id":1600,"workflowId":"QsKj2y8blszMMlpb","versionId":"963d4a90-c32e-429e-9183-42a519a31d6d","event":"deactivated","userId":"e2ce3a8c-1436-4b2a-a40d-af0a46612231"},{"createdAt":"2026-04-11T20:53:20.879Z","id":1601,"workflowId":"QsKj2y8blszMMlpb","versionId":"963d4a90-c32e-429e-9183-42a519a31d6d","event":"activated","userId":"e2ce3a8c-1436-4b2a-a40d-af0a46612231"}]}}